templates:
  split_schemes:
    2j: &2j_split
      split_categories:
        njets: ["==0", ">=1"]
      split_categories_binedges:
        njets: [-0.5, 0.5, 22.5]
      correction_option:
        "==0": "smoothed"
        ">=1": "smoothed"
      bandwidth:
        "==0": 1.0
        ">=1": 1.0
    1j: &1j_split
      split_categories:
        njets: [">=0"]
      split_categories_binedges:
        njets: [-0.5, 22.5]
      correction_option:
        ">=0": "smoothed"
      bandwidth:
        ">=0": 1
  var_dependence_n_bins:
    QCD:
      equipopulated_binning_options: &QCD_var_dependence_n_bins
        var_dependence_n_bins:
          "==0": 11
          ">=1": 9
    Wjets:
      equipopulated_binning_options: &Wjets_var_dependence_n_bins
        var_dependence_n_bins:
          "==0": 15
          ">=1": 11
    ttbar:
      equipopulated_binning_options: &ttbar_var_dependence_n_bins
        var_dependence_n_bins:
          ">=0": 11
  variables:
    deltaR_ditaupair: &deltaR_ditaupair
      var_dependence: deltaR_ditaupair
      equipopulated_binning_options: &deltaR_ditaupair__eq_bin_opt
        variable_config:
          deltaR_ditaupair:
            min: 0.5
            max: 5.0
            rounding: 4
      correction_option: "smoothed"
      bandwidth: 1.0
    pt_tt: &pt_tt
      var_dependence: pt_tt
      equipopulated_binning_options: &pt_tt__eq_bin_opt
        variable_config:
          pt_tt:
            min: 0.0
            max: 150.0
            rounding: 2
      correction_option: "smoothed"
      bandwidth: 30
    mass_2: &mass_2
      var_dependence: mass_2
      equipopulated_binning_options: &mass_2__eq_bin_opt
        variable_config:
          mass_2:
            min: 0.2
            max: 2.0
            rounding: 4
        add_left: [0.0]
      correction_option: "binwise#[0]+smoothed"
      bandwidth: 1.0
    iso_1: &iso_1
      var_dependence: iso_1
      equipopulated_binning_options: &iso_1__eq_bin_opt
        variable_config:
          iso_1:
            min: 0.02
            max: 0.15
            rounding: 6
      correction_option: "binwise#[0]+smoothed"
      bandwidth: 0.05
    tau_decaymode_2: &tau_decaymode_2
      var_dependence: tau_decaymode_2
      correction_option: "binwise"
      bandwidth: 1.0
      var_bins: [-0.5, 0.5, 9.5, 10.5, 11.5]
    mt_1:
      var_dependence: mt_1
      equipopulated_binning_options:
        variable_config:
          mt_1:
            min: 0.0
            max: 150.0
            rounding: 6
        add_left: [0.0]
      correction_option: "binwise#[0]+smoothed"
      bandwidth: 7.0


channel: mt
target_processes:
  QCD:
    non_closure:
      deltaR_ditaupair:
        <<: [*deltaR_ditaupair, *2j_split]
        equipopulated_binning_options:
          <<: [*deltaR_ditaupair__eq_bin_opt, *QCD_var_dependence_n_bins]
        bandwidth: 1.0
        var_bins:
          "==0": [0.5, 2.5247, 2.7832, 2.9291, 3.0323, 3.1015, 3.165, 3.262, 3.4077, 3.5927, 3.959, 5.0]
          ">=1": [0.5, 1.2963, 1.8853, 2.2377, 2.5437, 2.8111, 3.0336, 3.2831, 3.6837, 5.0]
      mass_2:
        <<: [*mass_2, *2j_split]
        equipopulated_binning_options:
          <<: [*mass_2__eq_bin_opt, *QCD_var_dependence_n_bins]
        bandwidth: 0.5
        var_bins:
          "==0": [0.0, 0.2, 0.4939, 0.5825, 0.6782, 0.7798, 0.8491, 0.9292, 1.0068, 1.0928, 1.1885, 1.2998, 2.0]
          ">=1": [0.0, 0.2, 0.5166, 0.6299, 0.7402, 0.835, 0.9331, 1.0186, 1.1299, 1.2705, 2.0]
      iso_1:
        <<: [*iso_1, *2j_split]
        equipopulated_binning_options:
          <<: [*iso_1__eq_bin_opt, *QCD_var_dependence_n_bins]
        bandwidth: 0.5
        var_bins:
          "==0": [0.02, 0.056224, 0.062146, 0.06882, 0.075606, 0.083086, 0.091465, 0.099806, 0.110181, 0.121321, 0.134499, 0.15]
          ">=1": [0.02, 0.05781, 0.065177, 0.073339, 0.082937, 0.094324, 0.105343, 0.11886, 0.134785, 0.15]
      tau_decaymode_2:
        <<: [*tau_decaymode_2, *2j_split]
    DR_SR:
      <<: [*pt_tt, *2j_split]
      equipopulated_binning_options:
        <<: [*pt_tt__eq_bin_opt, *QCD_var_dependence_n_bins]
      bandwidth: [15, 25]
      var_bins:
        "==0": [0.0, 8.05, 11.69, 14.92, 18.08, 21.33, 24.85, 28.45, 33.11, 38.82, 47.67, 150.0]
        ">=1": [0.0, 27.16, 37.04, 45.6, 53.57, 62.65, 73.24, 85.98, 105.93, 150.0]

      SRlike_cuts: # Try for yet perpendicular to the fake_factors_mt.yaml definition!
        lep_mt: (mt_1 < 50)
        nbtag: (nbtag >= 0)
        tau_pair_sign: ((q_1*q_2) > 0)
        lep_iso: "(!((iso_1 >= 0.05) && (iso_1 <= 0.15)))"
      ARlike_cuts: # Try for yet perpendicular to the fake_factors_mt.yaml definition!
        lep_mt: (mt_1 < 50)
        nbtag: (nbtag >= 0)
        tau_pair_sign: ((q_1*q_2) > 0)
        lep_iso: "(!((iso_1 >= 0.05) && (iso_1 <= 0.15)))"
      AR_SR_cuts:
        lep_mt: (mt_1 < 70)
        nbtag: (nbtag >= 0)
        tau_pair_sign: ((q_1*q_2) < 0)
        lep_iso: "(!((iso_1 >= 0.05) && (iso_1 <= 0.15)))"
      non_closure:
        tau_decaymode_2:
          <<: [*tau_decaymode_2, *2j_split]
  Wjets:
    non_closure:
      deltaR_ditaupair:
        <<: [*deltaR_ditaupair, *2j_split]
        equipopulated_binning_options:
          <<: [*deltaR_ditaupair__eq_bin_opt, *QCD_var_dependence_n_bins]
        bandwidth: 1.0
        var_bins:
          "==0": [0.5, 1.3068, 1.7331, 2.0644, 2.3334, 2.5586, 2.7516, 2.9162, 3.0452, 3.1524, 3.3933, 5.0]
          ">=1": [0.5, 1.2298, 1.6665, 2.0152, 2.3135, 2.5733, 2.8139, 3.0359, 3.285, 5.0]
      mass_2:
        <<: [*mass_2, *2j_split]
        equipopulated_binning_options:
          <<: [*mass_2__eq_bin_opt, *Wjets_var_dependence_n_bins]
        bandwidth: 0.5
        var_bins:
          "==0": [0.0, 0.2, 0.4592, 0.5312, 0.5996, 0.6631, 0.7197, 0.7754, 0.8286, 0.8867, 0.9463, 1.0068, 1.0732, 1.1436, 1.2305, 1.3467, 2.0]
          ">=1": [0.0, 0.2, 0.4902, 0.5825, 0.6743, 0.7515, 0.8286, 0.9048, 0.9873, 1.0713, 1.1709, 1.3057, 2.0]
      iso_1:
        <<: [*iso_1, *2j_split]
        equipopulated_binning_options:
          <<: [*iso_1__eq_bin_opt, *Wjets_var_dependence_n_bins]
        bandwidth: 0.5
        var_bins:
          "==0": [0.02, 0.022356, 0.025162, 0.027985, 0.03112, 0.034661, 0.038546, 0.042966, 0.04818, 0.054104, 0.061021, 0.069665, 0.080664, 0.094536, 0.115546, 0.15]
          ">=1": [0.02, 0.022981, 0.026869, 0.03074, 0.03601, 0.041924, 0.049266, 0.057831, 0.069398, 0.08429, 0.106639, 0.15]
      tau_decaymode_2:
        <<: [*tau_decaymode_2, *2j_split]
    DR_SR:
      <<: [*pt_tt, *2j_split]
      equipopulated_binning_options:
        <<: [*pt_tt__eq_bin_opt, *Wjets_var_dependence_n_bins]
      bandwidth: 30.0
      var_bins:
        "==0": [0.0, 6.29, 9.17, 11.57, 13.74, 15.91, 18.01, 20.24, 22.55, 25.03, 27.81, 30.95, 34.83, 39.92, 48.12, 150.0]
        ">=1": [0.0, 22.68, 31.69, 38.81, 45.38, 51.79, 58.89, 66.94, 76.73, 89.84, 110.83, 150.0]

      SRlike_cuts: # Try for yet perpendicular to the fake_factors_mt.yaml definition!
        lep_mt: (mt_1 > 0)
        nbtag: (nbtag == 0)
        tau_pair_sign: ((q_1*q_2) < 0)
        lep_iso: ((iso_1 >= 0.0) && (iso_1 <= 0.15))
      ARlike_cuts: # Try for yet perpendicular to the fake_factors_mt.yaml definition!
        lep_mt: (mt_1 > 0)
        nbtag: (nbtag == 0)
        tau_pair_sign: ((q_1*q_2) < 0)
        lep_iso: ((iso_1 >= 0.0) && (iso_1 <= 0.15))
      AR_SR_cuts:
        lep_mt: (mt_1 < 70)
        nbtag: (nbtag >= 0)
        tau_pair_sign: ((q_1*q_2) < 0)
        lep_iso: ((iso_1 >= 0.0) && (iso_1 <= 0.15))

      non_closure:
        tau_decaymode_2:
          <<: [*tau_decaymode_2, *2j_split]

  ttbar:
    non_closure:
      deltaR_ditaupair:
        <<: [*deltaR_ditaupair, *1j_split]
        equipopulated_binning_options:
          <<: [*deltaR_ditaupair__eq_bin_opt, *ttbar_var_dependence_n_bins]
        bandwidth: [10]
        var_bins:
          ">=0": [0.5, 1.0959, 1.4251, 1.8303, 2.0832, 2.303, 2.5038, 2.71, 2.9514, 3.1647, 3.5193, 5.0]
      mass_2:
        <<: [*mass_2, *1j_split]
        equipopulated_binning_options:
          <<: [*mass_2__eq_bin_opt, *ttbar_var_dependence_n_bins]
        bandwidth: [0.2]
        var_bins:
          ">=0": [0.0, 0.2, 0.4741, 0.5713, 0.6885, 0.771, 0.855, 0.9756, 1.0518, 1.1211, 1.208, 1.3027, 2.0]
      iso_1:
        <<: [*iso_1, *1j_split]
        equipopulated_binning_options:
          <<: [*iso_1__eq_bin_opt, *ttbar_var_dependence_n_bins]
        bandwidth: [0.03]
        var_bins:
          ">=0": [0.02, 0.025547, 0.027905, 0.030689, 0.038099, 0.047962, 0.056551, 0.062725, 0.076881, 0.085973, 0.129556, 0.15]
      tau_decaymode_2:
        <<: [*tau_decaymode_2, *1j_split]

