templates:
  split_schemes:
    2j: &2j_split
      split_categories:
        njets: ["==0", ">=1"]
      split_categories_binedges:
        njets: [-0.5, 0.5, 22.5]
      correction_option:
        "==0": "smoothed"
        ">=1": "smoothed"
      bandwidth:
        "==0": 1.0
        ">=1": 1.0
    1j: &1j_split
      split_categories:
        njets: [">=0"]
      split_categories_binedges:
        njets: [-0.5, 22.5]
      correction_option:
        ">=0": "smoothed"
      bandwidth:
        ">=0": 1
  var_dependence_n_bins:
    QCD:
      equipopulated_binning_options: &QCD_var_dependence_n_bins
        var_dependence_n_bins:
          "==0": 11
          ">=1": 9
    Wjets:
      equipopulated_binning_options: &Wjets_var_dependence_n_bins
        var_dependence_n_bins:
          "==0": 15
          ">=1": 11
    ttbar:
      equipopulated_binning_options: &ttbar_var_dependence_n_bins
        var_dependence_n_bins:
          ">=0": 11
  variables:
    deltaR_ditaupair: &deltaR_ditaupair
      var_dependence: deltaR_ditaupair
      equipopulated_binning_options: &deltaR_ditaupair__eq_bin_opt
        variable_config:
          deltaR_ditaupair:
            min: 0.5
            max: 5.0
            rounding: 4
      correction_option: "smoothed"
      bandwidth: 1.0
    pt_tt: &pt_tt
      var_dependence: pt_tt
      equipopulated_binning_options: &pt_tt__eq_bin_opt
        variable_config:
          pt_tt:
            min: 0.0
            max: 150.0
            rounding: 2
      correction_option: "smoothed"
      bandwidth: 30
    mass_2: &mass_2
      var_dependence: mass_2
      equipopulated_binning_options: &mass_2__eq_bin_opt
        variable_config:
          mass_2:
            min: 0.2
            max: 2.0
            rounding: 4
        add_left: [0.0]
      correction_option: "binwise#[0]+smoothed"
      bandwidth: 1.0
    iso_1: &iso_1
      var_dependence: iso_1
      equipopulated_binning_options: &iso_1__eq_bin_opt
        variable_config:
          iso_1:
            min: 0.02
            max: 0.15
            rounding: 6
      correction_option: "binwise#[0]+smoothed"
      bandwidth: 0.05
    tau_decaymode_2: &tau_decaymode_2
      var_dependence: tau_decaymode_2
      correction_option: "binwise"
      bandwidth: 1.0
      var_bins: [-0.5, 0.5, 9.5, 10.5, 11.5]
    mt_1:
      var_dependence: mt_1
      equipopulated_binning_options:
        variable_config:
          mt_1:
            min: 0.0
            max: 150.0
            rounding: 6
        add_left: [0.0]
      correction_option: "binwise#[0]+smoothed"
      bandwidth: 7.0


channel: et
target_processes:
  QCD:
    non_closure:
      deltaR_ditaupair:
        <<: [*deltaR_ditaupair, *2j_split]
        equipopulated_binning_options:
          <<: [*deltaR_ditaupair__eq_bin_opt, *QCD_var_dependence_n_bins]
        bandwidth: 1.0
        var_bins:
          "==0": [0.5, 2.6534, 2.8406, 2.9758, 3.0474, 3.1076, 3.1651, 3.2494, 3.3999, 3.6208, 4.0146, 5.0]
          ">=1": [0.5, 1.1848, 1.7436, 2.1856, 2.4997, 2.7705, 2.9719, 3.2297, 3.7106, 5.0]
      mass_2:
        <<: [*mass_2, *2j_split]
        equipopulated_binning_options:
          <<: [*mass_2__eq_bin_opt, *QCD_var_dependence_n_bins]
        bandwidth: 0.5
        var_bins:
          "==0": [0.0, 0.2, 0.5181, 0.6367, 0.7402, 0.8301, 0.9102, 0.9712, 1.0352, 1.1201, 1.2051, 1.3301, 2.0]
          ">=1": [0.0, 0.2, 0.5562, 0.6831, 0.8022, 0.8857, 0.9868, 1.0615, 1.1768, 1.3066, 2.0]
      iso_1:
        <<: [*iso_1, *2j_split]
        equipopulated_binning_options:
          <<: [*iso_1__eq_bin_opt, *QCD_var_dependence_n_bins]
        bandwidth: 0.5
        var_bins:
          "==0": [0.02, 0.023726, 0.027799, 0.032449, 0.037718, 0.043568, 0.051484, 0.059929, 0.072389, 0.087494, 0.114924, 0.15]
          ">=1": [0.02, 0.024306, 0.029414, 0.034564, 0.042286, 0.05055, 0.061776, 0.081143, 0.104934, 0.15]
      tau_decaymode_2:
        <<: [*tau_decaymode_2, *2j_split]

    DR_SR:
      <<: [*pt_tt, *2j_split]
      equipopulated_binning_options:
        <<: [*pt_tt__eq_bin_opt, *QCD_var_dependence_n_bins]
      bandwidth: [15, 25]
      var_bins:
        "==0": [0.0, 9.42, 13.36, 16.8, 19.97, 23.34, 26.49, 30.14, 34.51, 40.68, 50.04, 150.0]
        ">=1": [0.0, 31.92, 41.68, 49.9, 58.29, 66.79, 76.92, 89.63, 108.18, 150.0]


      SRlike_cuts: # Try for yet perpendicular to the fake_factors_mt.yaml definition!
        lep_mt: (mt_1 < 50)
        nbtag: (nbtag >= 0)
        tau_pair_sign: ((q_1*q_2) > 0)
        lep_iso: "(!((iso_1 >= 0.02) && (iso_1 <= 0.15)))"
      ARlike_cuts: # Try for yet perpendicular to the fake_factors_mt.yaml definition!
        lep_mt: (mt_1 < 50)
        nbtag: (nbtag >= 0)
        tau_pair_sign: ((q_1*q_2) > 0)
        lep_iso: "(!((iso_1 >= 0.02) && (iso_1 <= 0.15)))"
      AR_SR_cuts:
        lep_mt: (mt_1 < 70)
        nbtag: (nbtag >= 0)
        tau_pair_sign: ((q_1*q_2) < 0)
        lep_iso: "(!((iso_1 >= 0.02) && (iso_1 <= 0.15)))"
      non_closure:
        tau_decaymode_2:
          <<: [*tau_decaymode_2, *2j_split]
  Wjets:
    non_closure:
      deltaR_ditaupair:
        <<: [*deltaR_ditaupair, *2j_split]
        equipopulated_binning_options:
          <<: [*deltaR_ditaupair__eq_bin_opt, *QCD_var_dependence_n_bins]
        bandwidth: 1.0
        var_bins:
          "==0": [0.5, 1.7327, 2.1241, 2.3933, 2.6059, 2.7817, 2.9186, 3.0326, 3.1228, 3.2405, 3.5178, 5.0]
          ">=1": [0.5, 1.2111, 1.6511, 2.0124, 2.316, 2.6114, 2.8434, 3.0613, 3.3527, 5.0]
      mass_2:
        <<: [*mass_2, *2j_split]
        equipopulated_binning_options:
          <<: [*mass_2__eq_bin_opt, *Wjets_var_dependence_n_bins]
        bandwidth: 0.5
        var_bins:
          "==0": [0.0, 0.2, 0.4924, 0.5815, 0.6548, 0.7144, 0.769, 0.8213, 0.876, 0.9307, 0.9873, 1.0488, 1.1094, 1.1758, 1.2578, 1.3701, 2.0]
          ">=1": [0.0, 0.2, 0.522, 0.6245, 0.7085, 0.7866, 0.8618, 0.9395, 1.0205, 1.0996, 1.1982, 1.332, 2.0]
      iso_1:
        <<: [*iso_1, *2j_split]
        equipopulated_binning_options:
          <<: [*iso_1__eq_bin_opt, *Wjets_var_dependence_n_bins]
        bandwidth: 0.5
        var_bins:
          "==0": [0.02, 0.021986, 0.02406, 0.026343, 0.028776, 0.031598, 0.034626, 0.038609, 0.042366, 0.04765, 0.053103, 0.059951, 0.069031, 0.083029, 0.10585, 0.15]
          ">=1": [0.02, 0.022639, 0.025373, 0.028709, 0.032835, 0.037299, 0.0422, 0.048999, 0.057665, 0.070937, 0.093669, 0.15]
      tau_decaymode_2:
        <<: [*tau_decaymode_2, *2j_split]
    DR_SR:
      <<: [*pt_tt, *2j_split]
      equipopulated_binning_options:
        <<: [*pt_tt__eq_bin_opt, *Wjets_var_dependence_n_bins]
      bandwidth: 30.0
      var_bins:
        "==0": [0.0, 6.35, 9.3, 11.55, 13.77, 15.97, 18.07, 20.45, 22.85, 25.43, 28.19, 31.33, 35.37, 40.8, 48.9, 150.0]
        ">=1": [0.0, 21.6, 29.79, 37.41, 44.0, 50.78, 57.74, 65.62, 75.45, 88.6, 107.07, 150.0]

      SRlike_cuts: # Try for yet perpendicular to the fake_factors_mt.yaml definition!
        lep_mt: (mt_1 > 0)
        nbtag: (nbtag == 0)
        tau_pair_sign: ((q_1*q_2) < 0)
        lep_iso: (iso_1 >= 0.02) && (iso_1 <= 0.15)
      ARlike_cuts: # Try for yet perpendicular to the fake_factors_mt.yaml definition!
        lep_mt: (mt_1 > 0)
        nbtag: (nbtag == 0)
        tau_pair_sign: ((q_1*q_2) < 0)
        lep_iso: (iso_1 >= 0.02) && (iso_1 <= 0.15)
      AR_SR_cuts:
        lep_mt: (mt_1 < 70)
        nbtag: (nbtag >= 0)
        tau_pair_sign: ((q_1*q_2) < 0)
        lep_iso: (iso_1 >= 0.02) && (iso_1 <= 0.15)
      non_closure:
        tau_decaymode_2:
          <<: [*tau_decaymode_2, *2j_split]

  ttbar:
    non_closure:
      deltaR_ditaupair:
        <<: [*deltaR_ditaupair, *1j_split]
        equipopulated_binning_options:
          <<: [*deltaR_ditaupair__eq_bin_opt, *ttbar_var_dependence_n_bins]
        bandwidth: [10]
        var_bins:
          ">=0": [0.5, 1.4362, 1.8868, 2.2555, 2.4877, 2.6721, 2.8314, 2.9771, 3.0982, 3.2384, 3.5522, 5.0]
      mass_2:
        <<: [*mass_2, *1j_split]
        equipopulated_binning_options:
          <<: [*mass_2__eq_bin_opt, *ttbar_var_dependence_n_bins]
        bandwidth: [0.2]
        var_bins:
          ">=0": [0.0, 0.2, 0.5, 0.5854, 0.6768, 0.7515, 0.8198, 0.8999, 0.9829, 1.0781, 1.1816, 1.3203, 2.0]
      iso_1:
        <<: [*iso_1, *1j_split]
        equipopulated_binning_options:
          <<: [*iso_1__eq_bin_opt, *ttbar_var_dependence_n_bins]
        bandwidth: [0.03]
        var_bins:
          ">=0": [0.02, 0.02202, 0.024061, 0.027675, 0.03019, 0.03447, 0.038503, 0.041838, 0.048281, 0.058352, 0.077933, 0.15]
      tau_decaymode_2:
        <<: [*tau_decaymode_2, *1j_split]
