templates:
  split_schemes:
    2j: &2j_split
      split_categories:
        njets: ["==0", ">=1"]
      split_categories_binedges:
        njets: [-0.5, 0.5, 22.5]
      correction_option:
        "==0": "smoothed"
        ">=1": "smoothed"
      bandwidth:
        "==0": 1.0
        ">=1": 1.0
  var_dependence_n_bins:
    QCD:
      equipopulated_binning_options: &QCD_var_dependence_n_bins
        var_dependence_n_bins:
          "==0": 15
          ">=1": 10
    QCD_subleading:
      equipopulated_binning_options: &QCD_subleading_var_dependence_n_bins
        var_dependence_n_bins:
          "==0": 15
          ">=1": 10
  variables:
    pt_1: &pt_1
      var_dependence: pt_1
      equipopulated_binning_options: &pt_1__eq_bin_opt
        variable_config:
          pt_1:
            min: 37.0
            max: 150.0
            rounding: 2
      correction_option: "smoothed"
    pt_2: &pt_2
      var_dependence: pt_2
      equipopulated_binning_options: &pt_2__eq_bin_opt
        variable_config:
          pt_2:
            min: 37.0
            max: 150.0
            rounding: 2
      correction_option: "smoothed"
    pt_tt: &pt_tt
      var_dependence: pt_tt
      equipopulated_binning_options: &pt_tt__eq_bin_opt
        variable_config:
          pt_tt:
            min: 0.0
            max: 150.0
            rounding: 2
      correction_option: "smoothed"
      bandwidth: 30


channel: tt
target_processes:
  QCD:
    non_closure:
      pt_2:
        <<: [*pt_2, *2j_split]
        equipopulated_binning_options:
          <<: [*pt_2__eq_bin_opt, *QCD_var_dependence_n_bins]
        bandwidth: [5.0, 5.0]
        var_bins:
          "==0": [37.0, 37.73, 38.46, 39.21, 39.94, 40.73, 41.61, 42.62, 43.74, 45.0, 46.52, 48.3, 50.92, 54.69, 61.8, 150.0]
          ">=1": [37.0, 38.03, 39.15, 40.28, 41.69, 43.43, 45.52, 48.17, 52.01, 59.65, 150.0]
    DR_SR:
      <<: [*pt_tt, *2j_split]
      equipopulated_binning_options:
        <<: [*pt_tt__eq_bin_opt, *QCD_var_dependence_n_bins]
      bandwidth: [15, 25]
      var_bins:
        "==0": [0.0, 5.86, 8.59, 10.94, 13.08, 15.12, 17.24, 19.41, 21.66, 24.14, 26.98, 30.28, 34.34, 39.84, 48.83, 150.0]
        ">=1": [0.0, 19.8, 28.26, 35.25, 41.86, 48.83, 56.66, 65.77, 78.84, 97.96, 150.0]

      SRlike_cuts:
        had_tau_id_vs_jet_2: (id_tau_vsJet_Medium_2 < 0.5)
      ARlike_cuts:
        had_tau_id_vs_jet_2: (id_tau_vsJet_Medium_2 < 0.5)
      AR_SR_cuts:
        tau_pair_sign: (q_1*q_2) < 0

      non_closure:
        pt_1:
          <<: [*pt_2, *2j_split]
          equipopulated_binning_options:
            <<: [*pt_2__eq_bin_opt, *QCD_var_dependence_n_bins]
          bandwidth: [5.0, 5.0]
          var_bins:
            "==0": [37.0, 37.73, 38.46, 39.22, 40.02, 40.88, 41.81, 42.84, 43.99, 45.3, 46.92, 48.9, 51.61, 55.51, 63.22, 150.0]
            ">=1": [37.0, 38.07, 39.2, 40.46, 41.93, 43.67, 45.75, 48.74, 53.05, 61.65, 150.0]

  QCD_subleading:
    non_closure:
      pt_1:
        <<: [*pt_1, *2j_split]
        equipopulated_binning_options:
          <<: [*pt_1__eq_bin_opt, *QCD_subleading_var_dependence_n_bins]
        bandwidth: [5.0, 5.0]
        var_bins:
          "==0": [37.0, 41.34, 43.28, 44.9, 46.44, 47.93, 49.5, 51.25, 53.14, 55.38, 57.72, 60.79, 64.56, 70.14, 79.67, 150.0]
          ">=1": [37.0, 43.82, 47.37, 50.7, 54.28, 58.38, 63.15, 68.9, 77.57, 93.35, 150.0]

    DR_SR:
      <<: [*pt_tt, *2j_split]
      equipopulated_binning_options:
        <<: [*pt_tt__eq_bin_opt, *QCD_subleading_var_dependence_n_bins]
      bandwidth: [15, 25]
      var_bins:
        "==0": [0.0, 5.66, 8.31, 10.62, 12.69, 14.71, 16.71, 18.81, 21.07, 23.48, 26.14, 29.28, 33.31, 38.78, 47.9, 150.0]
        ">=1": [0.0, 19.45, 27.9, 34.59, 41.15, 48.39, 56.08, 65.62, 77.66, 96.69, 150.0]

      SRlike_cuts:
        had_tau_id_vs_jet_1: (id_tau_vsJet_Medium_1 < 0.5)
      ARlike_cuts:
        had_tau_id_vs_jet_1: (id_tau_vsJet_Medium_1 < 0.5)
      AR_SR_cuts:
        tau_pair_sign: (q_1*q_2) < 0

      non_closure:
        pt_2:
          <<: [*pt_2, *2j_split]
          equipopulated_binning_options:
            <<: [*pt_2__eq_bin_opt, *QCD_subleading_var_dependence_n_bins]
          bandwidth: [5.0, 5.0]
          var_bins:
            "==0": [37.0, 41.17, 43.07, 44.69, 46.26, 47.82, 49.44, 51.18, 53.08, 55.21, 57.68, 60.74, 64.65, 70.24, 80.05, 150.0]
            ">=1": [37.0, 43.36, 46.81, 50.2, 53.86, 58.06, 63.18, 69.63, 78.99, 94.8, 150.0]

