templates:
  split_schemes:
    2j: &2j_split
      split_categories:
        njets: ["==0", ">=1"]
      split_categories_binedges:
        njets: [-0.5, 0.5, 22.5]
      correction_option:
        "==0": "smoothed"
        ">=1": "smoothed"
      bandwidth:
        "==0": 1.0
        ">=1": 1.0
    1j: &1j_split
      split_categories:
        njets: [">=0"]
      split_categories_binedges:
        njets: [-0.5, 22.5]
      correction_option:
        ">=0": "smoothed"
      bandwidth:
        ">=0": 1
  var_dependence_n_bins:
    QCD:
      equipopulated_binning_options: &QCD_var_dependence_n_bins
        var_dependence_n_bins:
          "==0": 11
          ">=1": 9
    Wjets:
      equipopulated_binning_options: &Wjets_var_dependence_n_bins
        var_dependence_n_bins:
          "==0": 15
          ">=1": 11
    ttbar:
      equipopulated_binning_options: &ttbar_var_dependence_n_bins
        var_dependence_n_bins:
          ">=0": 11
  variables:
    deltaR_ditaupair: &deltaR_ditaupair
      var_dependence: deltaR_ditaupair
      equipopulated_binning_options: &deltaR_ditaupair__eq_bin_opt
        variable_config:
          deltaR_ditaupair:
            min: 0.5
            max: 5.0
            rounding: 4
      correction_option: "smoothed"
      bandwidth: 1.0
    pt_tt: &pt_tt
      var_dependence: pt_tt
      equipopulated_binning_options: &pt_tt__eq_bin_opt
        variable_config:
          pt_tt:
            min: 0.0
            max: 150.0
            rounding: 2
      correction_option: "smoothed"
      bandwidth: 30
    mass_2: &mass_2
      var_dependence: mass_2
      equipopulated_binning_options: &mass_2__eq_bin_opt
        variable_config:
          mass_2:
            min: 0.2
            max: 2.0
            rounding: 4
        add_left: [0.0]
      correction_option: "binwise#[0]+smoothed"
      bandwidth: 1.0
    iso_1: &iso_1
      var_dependence: iso_1
      equipopulated_binning_options: &iso_1__eq_bin_opt
        variable_config:
          iso_1:
            min: 0.02
            max: 0.15
            rounding: 6
      correction_option: "binwise#[0]+smoothed"
      bandwidth: 0.05
    tau_decaymode_2: &tau_decaymode_2
      var_dependence: tau_decaymode_2
      correction_option: "binwise"
      bandwidth: 1.0
      var_bins: [-0.5, 0.5, 9.5, 10.5, 11.5]
    mt_1:
      var_dependence: mt_1
      equipopulated_binning_options:
        variable_config:
          mt_1:
            min: 0.0
            max: 150.0
            rounding: 6
        add_left: [0.0]
      correction_option: "binwise#[0]+smoothed"
      bandwidth: 7.0


channel: et
target_processes:
  QCD:
    non_closure:
      deltaR_ditaupair:
        <<: [*deltaR_ditaupair, *2j_split]
        equipopulated_binning_options:
          <<: [*deltaR_ditaupair__eq_bin_opt, *QCD_var_dependence_n_bins]
        bandwidth: 1.0
        var_bins:
          "==0": [0.5, 2.6279, 2.837, 2.9559, 3.0331, 3.0971, 3.1496, 3.23, 3.3574, 3.5705, 3.9537, 5.0]
          ">=1": [0.5, 1.1752, 1.7717, 2.18, 2.4776, 2.7651, 3.0059, 3.2476, 3.6642, 5.0]
      mass_2:
        <<: [*mass_2, *2j_split]
        equipopulated_binning_options:
          <<: [*mass_2__eq_bin_opt, *QCD_var_dependence_n_bins]
        bandwidth: 0.5
        var_bins:
          "==0": [0.0, 0.2, 0.5264, 0.6392, 0.7412, 0.8262, 0.897, 0.9692, 1.042, 1.1162, 1.2148, 1.3271, 2.0]
          ">=1": [0.0, 0.2, 0.543, 0.665, 0.7783, 0.8745, 0.9673, 1.0625, 1.1562, 1.2881, 2.0]
      iso_1:
        <<: [*iso_1, *2j_split]
        equipopulated_binning_options:
          <<: [*iso_1__eq_bin_opt, *QCD_var_dependence_n_bins]
        bandwidth: 0.5
        var_bins:
          "==0": [0.02, 0.023987, 0.028415, 0.033419, 0.03916, 0.046235, 0.054068, 0.063064, 0.074978, 0.09101, 0.113167, 0.15]
          ">=1": [0.02, 0.024398, 0.02926, 0.035218, 0.042156, 0.051803, 0.063551, 0.080701, 0.104553, 0.15]
      tau_decaymode_2:
        <<: [*tau_decaymode_2, *2j_split]

    DR_SR:
      <<: [*pt_tt, *2j_split]
      equipopulated_binning_options:
        <<: [*pt_tt__eq_bin_opt, *QCD_var_dependence_n_bins]
      bandwidth: [15, 25]
      var_bins:
        "==0": [0.0, 9.41, 13.35, 16.89, 20.37, 23.74, 27.2, 31.08, 35.76, 41.58, 50.61, 150.0]
        ">=1": [0.0, 31.95, 42.62, 51.11, 58.98, 67.68, 78.33, 90.89, 109.72, 150.0]


      SRlike_cuts: # Try for yet perpendicular to the fake_factors_mt.yaml definition!
        lep_mt: (mt_1 < 50)
        nbtag: (nbtag >= 0)
        tau_pair_sign: ((q_1*q_2) > 0)
        lep_iso: "(!((iso_1 >= 0.02) && (iso_1 <= 0.15)))"
      ARlike_cuts: # Try for yet perpendicular to the fake_factors_mt.yaml definition!
        lep_mt: (mt_1 < 50)
        nbtag: (nbtag >= 0)
        tau_pair_sign: ((q_1*q_2) > 0)
        lep_iso: "(!((iso_1 >= 0.02) && (iso_1 <= 0.15)))"
      AR_SR_cuts:
        lep_mt: (mt_1 < 70)
        nbtag: (nbtag >= 0)
        tau_pair_sign: ((q_1*q_2) < 0)
        lep_iso: "(!((iso_1 >= 0.02) && (iso_1 <= 0.15)))"
      non_closure:
        tau_decaymode_2:
          <<: [*tau_decaymode_2, *2j_split]
  Wjets:
    non_closure:
      deltaR_ditaupair:
        <<: [*deltaR_ditaupair, *2j_split]
        equipopulated_binning_options:
          <<: [*deltaR_ditaupair__eq_bin_opt, *QCD_var_dependence_n_bins]
        bandwidth: 1.0
        var_bins:
          "==0": [0.5, 1.7488, 2.15, 2.4127, 2.6197, 2.7876, 2.9176, 3.0309, 3.1198, 3.2415, 3.5191, 5.0]
          ">=1": [0.5, 1.2565, 1.7089, 2.0686, 2.3714, 2.6392, 2.8679, 3.0757, 3.3699, 5.0]
      mass_2:
        <<: [*mass_2, *2j_split]
        equipopulated_binning_options:
          <<: [*mass_2__eq_bin_opt, *Wjets_var_dependence_n_bins]
        bandwidth: 0.5
        var_bins:
          "==0": [0.0, 0.2, 0.4783, 0.5649, 0.6372, 0.6992, 0.7539, 0.8091, 0.8613, 0.9175, 0.9751, 1.0342, 1.0977, 1.166, 1.249, 1.3643, 2.0]
          ">=1": [0.0, 0.2, 0.5122, 0.6152, 0.7017, 0.7769, 0.8555, 0.9312, 1.0117, 1.0967, 1.1924, 1.3193, 2.0]
      iso_1:
        <<: [*iso_1, *2j_split]
        equipopulated_binning_options:
          <<: [*iso_1__eq_bin_opt, *Wjets_var_dependence_n_bins]
        bandwidth: 0.5
        var_bins:
          "==0": [0.02, 0.022042, 0.02437, 0.02687, 0.029611, 0.032553, 0.035944, 0.039737, 0.043886, 0.049026, 0.055016, 0.061876, 0.070316, 0.082873, 0.100613, 0.15]
          ">=1": [0.02, 0.022788, 0.025774, 0.029206, 0.033247, 0.03825, 0.043742, 0.051065, 0.05991, 0.073396, 0.0941, 0.15]
      tau_decaymode_2:
        <<: [*tau_decaymode_2, *2j_split]
    DR_SR:
      <<: [*pt_tt, *2j_split]
      equipopulated_binning_options:
        <<: [*pt_tt__eq_bin_opt, *Wjets_var_dependence_n_bins]
      bandwidth: 30.0
      var_bins:
        "==0": [0.0, 6.37, 9.35, 11.77, 14.04, 16.2, 18.35, 20.59, 22.9, 25.44, 28.38, 31.56, 35.6, 40.81, 49.01, 150.0]
        ">=1": [0.0, 22.5, 31.42, 38.64, 45.22, 51.77, 58.98, 67.16, 77.19, 90.65, 109.75, 150.0]

      SRlike_cuts: # Try for yet perpendicular to the fake_factors_mt.yaml definition!
        lep_mt: (mt_1 > 0)
        nbtag: (nbtag == 0)
        tau_pair_sign: ((q_1*q_2) < 0)
        lep_iso: (iso_1 >= 0.02) && (iso_1 <= 0.15)
      ARlike_cuts: # Try for yet perpendicular to the fake_factors_mt.yaml definition!
        lep_mt: (mt_1 > 0)
        nbtag: (nbtag == 0)
        tau_pair_sign: ((q_1*q_2) < 0)
        lep_iso: (iso_1 >= 0.02) && (iso_1 <= 0.15)
      AR_SR_cuts:
        lep_mt: (mt_1 < 70)
        nbtag: (nbtag >= 0)
        tau_pair_sign: ((q_1*q_2) < 0)
        lep_iso: (iso_1 >= 0.02) && (iso_1 <= 0.15)
      non_closure:
        tau_decaymode_2:
          <<: [*tau_decaymode_2, *2j_split]

  ttbar:
    non_closure:
      deltaR_ditaupair:
        <<: [*deltaR_ditaupair, *1j_split]
        equipopulated_binning_options:
          <<: [*deltaR_ditaupair__eq_bin_opt, *ttbar_var_dependence_n_bins]
        bandwidth: [10]
        var_bins:
          ">=0": [0.5, 1.4238, 1.9306, 2.2601, 2.5114, 2.7044, 2.8649, 2.9938, 3.1005, 3.2134, 3.498, 5.0]
      mass_2:
        <<: [*mass_2, *1j_split]
        equipopulated_binning_options:
          <<: [*mass_2__eq_bin_opt, *ttbar_var_dependence_n_bins]
        bandwidth: [0.2]
        var_bins:
          ">=0": [0.0, 0.2, 0.4692, 0.5645, 0.6504, 0.7295, 0.8125, 0.8804, 0.9644, 1.0527, 1.1553, 1.2891, 2.0]
      iso_1:
        <<: [*iso_1, *1j_split]
        equipopulated_binning_options:
          <<: [*iso_1__eq_bin_opt, *ttbar_var_dependence_n_bins]
        bandwidth: [0.03]
        var_bins:
          ">=0": [0.02, 0.022446, 0.025193, 0.028165, 0.031885, 0.03615, 0.040856, 0.046617, 0.055348, 0.068183, 0.087969, 0.15]
      tau_decaymode_2:
        <<: [*tau_decaymode_2, *1j_split]
