channel: mt
target_processes:
  QCD:
    split_categories:
      njets: ["==0", "==1", ">=2"]
    split_categories_binedges:
      njets: [-0.5, 0.5, 1.5, 22.5]
    equipopulated_binning_options:
      variable_config:
        pt_2:
          min: 30.0
          max: 150.0
          rounding: 2
      var_dependence_n_bins:
        "==0": 10
        "==1": 5
        ">=2": 4

    SRlike_cuts:
      had_tau_id_vs_jet: id_tau_vsJet_Tight_2 > 0.5
      # -------------------------------------------
      lep_mt: (mt_1 < 50)
      nbtag: (nbtag >= 0)
      tau_pair_sign: ((q_1*q_2) > 0)
      lep_iso: ((iso_1 >= 0.05) && (iso_1 <= 0.15))
      # -------------------------------------------
      no_extra_lep: (extramuon_veto < 0.5) && (extraelec_veto < 0.5) && (dimuon_veto < 0.5)

    ARlike_cuts:
      had_tau_id_vs_jet: (id_tau_vsJet_VLoose_2 > 0.5) && (id_tau_vsJet_Tight_2 < 0.5)
      # -------------------------------------------
      lep_mt: (mt_1 < 50)
      nbtag: (nbtag >= 0)
      tau_pair_sign: ((q_1*q_2) > 0)
      lep_iso: ((iso_1 >= 0.05) && (iso_1 <= 0.15))
      # -------------------------------------------
      no_extra_lep: (extramuon_veto < 0.5) && (extraelec_veto < 0.5) && (dimuon_veto < 0.5)

    var_dependence: pt_2
    # in case of individual splitting
    var_bins:
      "==0": [30.0, 31.05, 32.32, 33.68, 35.36, 37.3, 39.72, 43.02, 47.71, 55.77, 150.0]
      "==1": [30.0, 32.24, 35.38, 40.3, 50.88, 150.0]
      ">=2": [30.0, 33.58, 39.16, 51.85, 150.0]
    fit_option:
      "==0": ["poly_1"]
      "==1": ["poly_1", "poly_2"]
      ">=2": ["poly_1", "poly_2"]

  Wjets:
    split_categories:
      njets: ["==0", "==1", ">=2"]
      pt_1:
        "==0": [<=35.96, '>35.96#&&#<=48.5', '>48.5#&&#<=64.78', '>64.78']
        "==1": [<=37.18, '>37.18#&&#<=49.53', '>49.53#&&#<=68.79', '>68.79']
        ">=2": [<=38.88, '>38.88#&&#<=54.94', '>54.94#&&#<=82.16', '>82.16']
    split_categories_binedges:
      njets: [-0.5, 0.5, 1.5, 22.5]
      pt_1:
        "==0": [0.0, 35.959999084473, 48.5, 64.779998779297, 1000.0]
        "==1": [0.0, 37.180000305176, 49.529998779297, 68.790000915527, 1000.0]
        ">=2": [0.0, 38.880001068115, 54.939998626709, 82.160003662109, 1000.0]
    equipopulated_binning_options:
      variable_config:
        pt_2:
          min: 30.0
          max: 150.0
          rounding: 2
        pt_1:
          min: 0.0
          max: 1000.0
          rounding: 2
      n_bins:
        pt_1: 4
      var_dependence_n_bins: [10, 5, 5]

    SRlike_cuts:
      had_tau_id_vs_jet: id_tau_vsJet_Tight_2 > 0.5
      # -------------------------------------------
      lep_mt: (mt_1 > 70)
      nbtag: (nbtag == 0)
      tau_pair_sign: ((q_1*q_2) < 0)
      lep_iso: ((iso_1 >= 0.0) && (iso_1 <= 0.15))
      # -------------------------------------------
      no_extra_lep: (extramuon_veto < 0.5) && (extraelec_veto < 0.5) && (dimuon_veto < 0.5)

    ARlike_cuts:
      had_tau_id_vs_jet: (id_tau_vsJet_VLoose_2 > 0.5) && (id_tau_vsJet_Tight_2 < 0.5)
      # -------------------------------------------
      lep_mt: (mt_1 > 70)
      nbtag: (nbtag == 0)
      tau_pair_sign: ((q_1*q_2) < 0)
      lep_iso: ((iso_1 >= 0.0) && (iso_1 <= 0.15))
      # -------------------------------------------
      no_extra_lep: (extramuon_veto < 0.5) && (extraelec_veto < 0.5) && (dimuon_veto < 0.5)

    var_dependence: pt_2
    var_bins:
      "==0":
        "<=35.96": [30.0, 30.84, 31.77, 32.82, 34.12, 35.57, 37.42, 39.8, 43.43, 50.59, 150.0]
        ">35.96#&&#<=48.5": [30.0, 30.82, 31.71, 32.7, 33.87, 35.35, 37.12, 39.54, 43.27, 50.62, 150.0]
        ">48.5#&&#<=64.78": [30.0, 30.94, 32.04, 33.2, 34.62, 36.22, 38.18, 40.94, 45.15, 52.58, 150.0]
        ">64.78": [30.0, 32.15, 34.48, 36.96, 39.95, 43.47, 48.0, 53.68, 62.03, 77.31, 150.0]
      "==1":
        "<=37.18": [30.0, 32.63, 36.04, 40.94, 50.97, 150.0]
        ">37.18#&&#<=49.53": [30.0, 32.59, 35.95, 40.96, 51.57, 150.0]
        ">49.53#&&#<=68.79": [30.0, 33.13, 36.88, 42.74, 54.42, 150.0]
        ">68.79": [30.0, 34.67, 41.45, 52.01, 70.7, 150.0]
      ">=2":
        "<=38.88": [30.0, 33.56, 38.22, 45.83, 62.27, 150.0]
        ">38.88#&&#<=54.94": [30.0, 33.26, 38.84, 46.82, 62.86, 150.0]
        ">54.94#&&#<=82.16": [30.0, 34.01, 39.54, 48.62, 65.91, 150.0]
        ">82.16": [30.0, 35.3, 42.61, 54.79, 76.48, 150.0]
    fit_option:
      "==0": ["poly_1", "poly_2"]
      "==1": ["poly_1", "poly_2", "poly_3"]
      ">=2": ["poly_1", "poly_2"]

  ttbar:
    split_categories:
      njets: ["<=1", ">=2"]
    split_categories_binedges:
      njets: [-0.5, 1.5, 22.5]
    equipopulated_binning_options:
      variable_config:
        pt_2:
          min: 30.0
          max: 150.0
          rounding: 2
      var_dependence_n_bins: [15, 10]

    SR_cuts:
      had_tau_id_vs_jet: id_tau_vsJet_Tight_2 > 0.5
      # -------------------------------------------
      lep_mt: (mt_1 < 70)
      nbtag: (nbtag >= 0)
      tau_pair_sign: ((q_1*q_2) < 0)
      lep_iso: ((iso_1 >= 0.0) && (iso_1 <= 0.15))
      # -------------------------------------------
      no_extra_lep: (extramuon_veto < 0.5) && (extraelec_veto < 0.5) && (dimuon_veto < 0.5)

    AR_cuts:
      had_tau_id_vs_jet: (id_tau_vsJet_VLoose_2 > 0.5) && (id_tau_vsJet_Tight_2 < 0.5)
      # -------------------------------------------
      lep_mt: (mt_1 < 70)
      nbtag: (nbtag >= 0)
      tau_pair_sign: ((q_1*q_2) < 0)
      lep_iso: ((iso_1 >= 0.0) && (iso_1 <= 0.15))
      # -------------------------------------------
      no_extra_lep: (extramuon_veto < 0.5) && (extraelec_veto < 0.5) && (dimuon_veto < 0.5)

    SRlike_cuts:
      had_tau_id_vs_jet: id_tau_vsJet_Tight_2 > 0.5
      # -------------------------------------------
      lep_mt: (mt_1 < 70)
      nbtag: (nbtag >= 0)
      tau_pair_sign: ((q_1*q_2) < 0)
      lep_iso: ((iso_1 >= 0.0) && (iso_1 <= 0.15))
      # -------------------------------------------
      no_extra_lep: '!((extramuon_veto < 0.5) && (extraelec_veto < 0.5) && (dimuon_veto < 0.5))'

    ARlike_cuts:
      had_tau_id_vs_jet: (id_tau_vsJet_VLoose_2 > 0.5) && (id_tau_vsJet_Tight_2 < 0.5)
      # -------------------------------------------
      lep_mt: (mt_1 < 70)
      nbtag: (nbtag >= 0)
      tau_pair_sign: ((q_1*q_2) < 0)
      lep_iso: ((iso_1 >= 0.0) && (iso_1 <= 0.15))
      # -------------------------------------------
      no_extra_lep: '!((extramuon_veto < 0.5) && (extraelec_veto < 0.5) && (dimuon_veto < 0.5))'

    var_dependence: pt_2
    var_bins:
      "<=1": [30.0, 30.85, 31.77, 32.76, 33.78, 34.99, 36.3, 37.86, 39.58, 41.58, 44.13, 47.07, 51.67, 58.63, 71.12, 150.0]
      ">=2": [30.0, 31.69, 33.63, 35.9, 38.56, 42.03, 46.12, 52.56, 62.75, 82.88, 150.0]
    fit_option: ["poly_1", "poly_2", "poly_3"]

process_fractions:
  processes: ["QCD", "Wjets", "ttbar_J"]

  split_categories:
    njets: ["==0", "==1", ">=2"]
  split_categories_binedges:
    njets: [-0.5, 0.5, 1.5, 22.5]
  equipopulated_binning_options:
    variable_config:
      mt_1:
        min: 0.0
        max: 70.0
        rounding: 2
    var_dependence_n_bins:
      "==0": 25
      "==1": 20
      ">=2": 15

  SR_cuts:
    had_tau_id_vs_jet: id_tau_vsJet_Tight_2 > 0.5
    # -------------------------------------------
    lep_mt: (mt_1 < 70)
    nbtag: (nbtag >= 0)
    tau_pair_sign: ((q_1*q_2) < 0)
    lep_iso: ((iso_1 >= 0.0) && (iso_1 <= 0.15))
    # -------------------------------------------
    no_extra_lep: (extramuon_veto < 0.5) && (extraelec_veto < 0.5) && (dimuon_veto < 0.5)
  AR_cuts:
    had_tau_id_vs_jet: (id_tau_vsJet_VLoose_2 > 0.5) && (id_tau_vsJet_Tight_2 < 0.5)
    # -------------------------------------------
    lep_mt: (mt_1 < 70)
    nbtag: (nbtag >= 0)
    tau_pair_sign: ((q_1*q_2) < 0)
    lep_iso: ((iso_1 >= 0.0) && (iso_1 <= 0.15))
    # -------------------------------------------
    no_extra_lep: (extramuon_veto < 0.5) && (extraelec_veto < 0.5) && (dimuon_veto < 0.5)

  var_dependence: mt_1
  var_bins:
    "==0": [0.0, 1.98, 3.99, 6.06, 8.26, 10.57, 13.01, 15.57, 18.3, 21.21, 24.25, 27.42, 30.73, 34.12, 37.54, 40.95, 44.28, 47.59, 50.77, 53.85, 56.81, 59.62, 62.37, 64.98, 67.54, 70.0]
    "==1": [0.0, 3.49, 7.01, 10.68, 14.5, 18.32, 22.25, 26.23, 30.17, 34.21, 38.07, 41.79, 45.44, 48.97, 52.36, 55.59, 58.71, 61.7, 64.55, 67.33, 70.0]
    ">=2": [0.0, 5.06, 10.07, 15.09, 20.24, 25.29, 30.43, 35.54, 40.46, 45.17, 49.65, 53.9, 58.18, 62.23, 66.13, 70.0]
