templates:
  split_schemes:
    2j: &2j_split
      split_categories:
        njets: ["==0", ">=1"]
      split_categories_binedges:
        njets: [-0.5, 0.5, 22.5]
      correction_option:
        "==0": "smoothed"
        ">=1": "smoothed"
      bandwidth:
        "==0": 1.0
        ">=1": 1.0
    1j: &1j_split
      split_categories:
        njets: [">=0"]
      split_categories_binedges:
        njets: [-0.5, 22.5]
      correction_option:
        ">=0": "smoothed"
      bandwidth:
        ">=0": 1
  var_dependence_n_bins:
    QCD:
      equipopulated_binning_options: &QCD_var_dependence_n_bins
        var_dependence_n_bins:
          "==0": 11
          ">=1": 9
    Wjets:
      equipopulated_binning_options: &Wjets_var_dependence_n_bins
        var_dependence_n_bins:
          "==0": 15
          ">=1": 11
    ttbar:
      equipopulated_binning_options: &ttbar_var_dependence_n_bins
        var_dependence_n_bins:
          ">=0": 11
  variables:
    deltaR_ditaupair: &deltaR_ditaupair
      var_dependence: deltaR_ditaupair
      equipopulated_binning_options: &deltaR_ditaupair__eq_bin_opt
        variable_config:
          deltaR_ditaupair:
            min: 0.5
            max: 5.0
            rounding: 4
      correction_option: "smoothed"
      bandwidth: 1.0
    pt_tt: &pt_tt
      var_dependence: pt_tt
      equipopulated_binning_options: &pt_tt__eq_bin_opt
        variable_config:
          pt_tt:
            min: 0.0
            max: 150.0
            rounding: 2
      correction_option: "smoothed"
      bandwidth: 30
    mass_2: &mass_2
      var_dependence: mass_2
      equipopulated_binning_options: &mass_2__eq_bin_opt
        variable_config:
          mass_2:
            min: 0.2
            max: 2.0
            rounding: 4
        add_left: [0.0]
      correction_option: "binwise#[0]+smoothed"
      bandwidth: 1.0
    iso_1: &iso_1
      var_dependence: iso_1
      equipopulated_binning_options: &iso_1__eq_bin_opt
        variable_config:
          iso_1:
            min: 0.02
            max: 0.15
            rounding: 6
      correction_option: "binwise#[0]+smoothed"
      bandwidth: 0.05
    tau_decaymode_2: &tau_decaymode_2
      var_dependence: tau_decaymode_2
      correction_option: "binwise"
      bandwidth: 1.0
      var_bins: [-0.5, 0.5, 9.5, 10.5, 11.5]
    mt_1:
      var_dependence: mt_1
      equipopulated_binning_options:
        variable_config:
          mt_1:
            min: 0.0
            max: 150.0
            rounding: 6
        add_left: [0.0]
      correction_option: "binwise#[0]+smoothed"
      bandwidth: 7.0


channel: et
target_processes:
  QCD:
    non_closure:
      deltaR_ditaupair:
        <<: [*deltaR_ditaupair, *2j_split]
        equipopulated_binning_options:
          <<: [*deltaR_ditaupair__eq_bin_opt, *QCD_var_dependence_n_bins]
        bandwidth: 1.0
        var_bins:
          "==0": [0.5, 2.6269, 2.8451, 2.9616, 3.0372, 3.1024, 3.1592, 3.246, 3.377, 3.6029, 3.9656, 5.0]
          ">=1": [0.5, 1.1705, 1.7854, 2.2055, 2.5593, 2.8053, 3.0306, 3.2647, 3.699, 5.0]
      mass_2:
        <<: [*mass_2, *2j_split]
        equipopulated_binning_options:
          <<: [*mass_2__eq_bin_opt, *QCD_var_dependence_n_bins]
        bandwidth: 0.5
        var_bins:
          "==0": [0.0, 0.2, 0.5498, 0.6533, 0.7441, 0.8291, 0.9019, 0.9771, 1.0508, 1.127, 1.2197, 1.3359, 2.0]
          ">=1": [0.0, 0.2, 0.5581, 0.7036, 0.8203, 0.9028, 0.9854, 1.0742, 1.1689, 1.3037, 2.0]
      iso_1:
        <<: [*iso_1, *2j_split]
        equipopulated_binning_options:
          <<: [*iso_1__eq_bin_opt, *QCD_var_dependence_n_bins]
        bandwidth: 0.5
        var_bins:
          "==0": [0.02, 0.023628, 0.027528, 0.032388, 0.037754, 0.043795, 0.051571, 0.060222, 0.071757, 0.087016, 0.109855, 0.15]
          ">=1": [0.02, 0.024531, 0.028837, 0.033927, 0.041188, 0.048531, 0.059771, 0.076946, 0.106103, 0.15]
      tau_decaymode_2:
        <<: [*tau_decaymode_2, *2j_split]

    DR_SR:
      <<: [*pt_tt, *2j_split]
      equipopulated_binning_options:
        <<: [*pt_tt__eq_bin_opt, *QCD_var_dependence_n_bins]
      bandwidth: [15, 25]
      var_bins:
        "==0": [0.0, 7.69, 11.56, 14.91, 17.89, 21.1, 24.49, 28.18, 32.77, 38.58, 47.76, 150.0]
        ">=1": [0.0, 30.24, 41.27, 49.64, 58.14, 66.89, 76.49, 89.65, 109.67, 150.0]


      SRlike_cuts: # Try for yet perpendicular to the fake_factors_mt.yaml definition!
        lep_mt: (mt_1 < 50)
        nbtag: (nbtag >= 0)
        tau_pair_sign: ((q_1*q_2) > 0)
        lep_iso: "(!((iso_1 >= 0.02) && (iso_1 <= 0.15)))"
      ARlike_cuts: # Try for yet perpendicular to the fake_factors_mt.yaml definition!
        lep_mt: (mt_1 < 50)
        nbtag: (nbtag >= 0)
        tau_pair_sign: ((q_1*q_2) > 0)
        lep_iso: "(!((iso_1 >= 0.02) && (iso_1 <= 0.15)))"
      AR_SR_cuts:
        lep_mt: (mt_1 < 70)
        nbtag: (nbtag >= 0)
        tau_pair_sign: ((q_1*q_2) < 0)
        lep_iso: "(!((iso_1 >= 0.02) && (iso_1 <= 0.15)))"
      non_closure:
        tau_decaymode_2:
          <<: [*tau_decaymode_2, *2j_split]
  Wjets:
    non_closure:
      deltaR_ditaupair:
        <<: [*deltaR_ditaupair, *2j_split]
        equipopulated_binning_options:
          <<: [*deltaR_ditaupair__eq_bin_opt, *QCD_var_dependence_n_bins]
        bandwidth: 1.0
        var_bins:
          "==0": [0.5, 1.7642, 2.1689, 2.442, 2.6346, 2.7951, 2.9269, 3.0374, 3.1287, 3.2526, 3.5248, 5.0]
          ">=1": [0.5, 1.2663, 1.7455, 2.1018, 2.3912, 2.6505, 2.8811, 3.0829, 3.3607, 5.0]
      mass_2:
        <<: [*mass_2, *2j_split]
        equipopulated_binning_options:
          <<: [*mass_2__eq_bin_opt, *Wjets_var_dependence_n_bins]
        bandwidth: 0.5
        var_bins:
          "==0": [0.0, 0.2, 0.4978, 0.5884, 0.6621, 0.7256, 0.7832, 0.8389, 0.8921, 0.9473, 1.0029, 1.0586, 1.1172, 1.1875, 1.2705, 1.3818, 2.0]
          ">=1": [0.0, 0.2, 0.5303, 0.6377, 0.7197, 0.8027, 0.874, 0.9492, 1.0254, 1.1104, 1.2051, 1.334, 2.0]
      iso_1:
        <<: [*iso_1, *2j_split]
        equipopulated_binning_options:
          <<: [*iso_1__eq_bin_opt, *Wjets_var_dependence_n_bins]
        bandwidth: 0.5
        var_bins:
          "==0": [0.02, 0.021696, 0.023422, 0.025404, 0.027764, 0.030247, 0.033253, 0.036554, 0.040284, 0.044692, 0.049737, 0.056061, 0.064361, 0.076604, 0.098838, 0.15]
          ">=1": [0.02, 0.022191, 0.024524, 0.027517, 0.030921, 0.035202, 0.039652, 0.045609, 0.052479, 0.063215, 0.08379, 0.15]
      tau_decaymode_2:
        <<: [*tau_decaymode_2, *2j_split]
    DR_SR:
      <<: [*pt_tt, *2j_split]
      equipopulated_binning_options:
        <<: [*pt_tt__eq_bin_opt, *Wjets_var_dependence_n_bins]
      bandwidth: 30.0
      var_bins:
        "==0": [0.0, 5.99, 8.85, 11.06, 13.2, 15.16, 17.25, 19.4, 21.67, 24.22, 26.9, 30.11, 33.77, 38.75, 46.96, 150.0]
        ">=1": [0.0, 21.73, 30.36, 37.47, 43.54, 49.91, 56.34, 64.53, 74.22, 86.87, 105.44, 150.0]

      SRlike_cuts: # Try for yet perpendicular to the fake_factors_mt.yaml definition!
        lep_mt: (mt_1 > 0)
        nbtag: (nbtag == 0)
        tau_pair_sign: ((q_1*q_2) < 0)
        lep_iso: (iso_1 >= 0.02) && (iso_1 <= 0.15)
      ARlike_cuts: # Try for yet perpendicular to the fake_factors_mt.yaml definition!
        lep_mt: (mt_1 > 0)
        nbtag: (nbtag == 0)
        tau_pair_sign: ((q_1*q_2) < 0)
        lep_iso: (iso_1 >= 0.02) && (iso_1 <= 0.15)
      AR_SR_cuts:
        lep_mt: (mt_1 < 70)
        nbtag: (nbtag >= 0)
        tau_pair_sign: ((q_1*q_2) < 0)
        lep_iso: (iso_1 >= 0.02) && (iso_1 <= 0.15)
      non_closure:
        tau_decaymode_2:
          <<: [*tau_decaymode_2, *2j_split]

  ttbar:
    non_closure:
      deltaR_ditaupair:
        <<: [*deltaR_ditaupair, *1j_split]
        equipopulated_binning_options:
          <<: [*deltaR_ditaupair__eq_bin_opt, *ttbar_var_dependence_n_bins]
        bandwidth: [10]
        var_bins:
          ">=0": [0.5, 1.4054, 1.9008, 2.2332, 2.4592, 2.6581, 2.8239, 2.9739, 3.0897, 3.2209, 3.5163, 5.0]
      mass_2:
        <<: [*mass_2, *1j_split]
        equipopulated_binning_options:
          <<: [*mass_2__eq_bin_opt, *ttbar_var_dependence_n_bins]
        bandwidth: [0.2]
        var_bins:
          ">=0": [0.0, 0.2, 0.5073, 0.6157, 0.6948, 0.769, 0.8428, 0.9209, 0.998, 1.084, 1.1826, 1.3125, 2.0]
      iso_1:
        <<: [*iso_1, *1j_split]
        equipopulated_binning_options:
          <<: [*iso_1__eq_bin_opt, *ttbar_var_dependence_n_bins]
        bandwidth: [0.03]
        var_bins:
          ">=0": [0.02, 0.022271, 0.024316, 0.027176, 0.030045, 0.033392, 0.037572, 0.043157, 0.049263, 0.061726, 0.087149, 0.15]
      tau_decaymode_2:
        <<: [*tau_decaymode_2, *1j_split]
