channel: tt
target_processes:
  QCD:
    split_categories:
      njets: ["==0", ">=1"]
    split_categories_binedges:
      njets: [-0.5, 0.5, 22.5]
    equipopulated_binning_options:
      variable_config:
        pt_1:
          min: 37.0
          max: 150.0
          rounding: 2
      var_dependence_n_bins: 7

    SRlike_cuts:
      had_tau_id_vs_jet_1: id_tau_vsJet_Medium_1 > 0.5
      had_tau_id_vs_jet_2: id_tau_vsJet_Medium_2 > 0.5
      # -------------------------------------------
      tau_pair_sign: (q_1*q_2) > 0
      # -------------------------------------------
      no_extra_lep: (extramuon_veto < 0.5) && (extraelec_veto < 0.5) && (dilepton_veto < 0.5)

    ARlike_cuts:
      had_tau_id_vs_jet_1: (id_tau_vsJet_VVVLoose_1 > 0.5) && (id_tau_vsJet_Medium_1 < 0.5)
      had_tau_id_vs_jet_2: id_tau_vsJet_Medium_2 > 0.5
      # -------------------------------------------
      tau_pair_sign: (q_1*q_2) > 0
      # -------------------------------------------
      no_extra_lep: (extramuon_veto < 0.5) && (extraelec_veto < 0.5) && (dilepton_veto < 0.5)

    var_dependence: pt_1
    var_bins:
      "==0": [37.0, 43.51, 47.09, 50.81, 55.09, 60.91, 70.66, 150.0]
      ">=1": [37.0, 44.92, 49.93, 55.42, 62.19, 71.77, 87.05, 150.0]
    fit_option: ["poly_0", "poly_1", "poly_2", "poly_3"]

  QCD_subleading:
    split_categories:
      njets: ["==0", ">=1"]
    split_categories_binedges:
      njets: [-0.5, 0.5, 22.5]
    equipopulated_binning_options:
      variable_config:
        pt_2:
          min: 37.0
          max: 150.0
          rounding: 2
      var_dependence_n_bins: 7

    SRlike_cuts:
      had_tau_id_vs_jet_1: id_tau_vsJet_Medium_1 > 0.5
      had_tau_id_vs_jet_2: id_tau_vsJet_Medium_2 > 0.5
      # -------------------------------------------
      tau_pair_sign: (q_1*q_2) > 0
      # -------------------------------------------
      no_extra_lep: (extramuon_veto < 0.5) && (extraelec_veto < 0.5) && (dilepton_veto < 0.5)

    ARlike_cuts:
      had_tau_id_vs_jet_1: id_tau_vsJet_Medium_1 > 0.5
      had_tau_id_vs_jet_2: (id_tau_vsJet_VVVLoose_2 > 0.5) && (id_tau_vsJet_Medium_2 < 0.5)
      # -------------------------------------------
      tau_pair_sign: (q_1*q_2) > 0
      # -------------------------------------------
      no_extra_lep: (extramuon_veto < 0.5) && (extraelec_veto < 0.5) && (dilepton_veto < 0.5)

    var_dependence: pt_2
    var_bins:
      "==0": [37.0, 38.45, 40.04, 42.05, 44.56, 48.1, 54.66, 150.0]
      ">=1": [37.0, 38.41, 40.06, 42.14, 44.88, 48.82, 56.43, 150.0]
    fit_option: ["poly_0", "poly_1", "poly_2", "poly_3"]

process_fractions:
  processes: ["QCD"]

  split_categories:
    njets: ["==0", ">=1"]
  split_categories_binedges:
    njets: [-0.5, 0.5, 22.5]
  equipopulated_binning_options:
    variable_config:
      m_vis:
        min: 15.0
        max: 200.0
        rounding: 2
    var_dependence_n_bins: 20

  SR_cuts:
    had_tau_id_vs_jet_1: id_tau_vsJet_Medium_1 > 0.5
    had_tau_id_vs_jet_2: id_tau_vsJet_Medium_2 > 0.5
    # -------------------------------------------
    tau_pair_sign: (q_1*q_2) < 0
    # -------------------------------------------
    no_extra_lep: (extramuon_veto < 0.5) && (extraelec_veto < 0.5) && (dilepton_veto < 0.5)

  AR_cuts:
    had_tau_id_vs_jet_1: (id_tau_vsJet_VVVLoose_1 > 0.5) && (id_tau_vsJet_Medium_1 < 0.5)
    had_tau_id_vs_jet_2: id_tau_vsJet_Medium_2 < 0.5
    # -------------------------------------------
    tau_pair_sign: (q_1*q_2) < 0
    # -------------------------------------------
    no_extra_lep: (extramuon_veto < 0.5) && (extraelec_veto < 0.5) && (dilepton_veto < 0.5)

  var_dependence: m_vis
  var_bins:
    "==0": [15.0, 83.42, 87.91, 91.6, 95.05, 98.39, 101.7, 105.05, 108.53, 112.2, 116.06, 120.18, 124.68, 129.6, 135.12, 141.4, 148.63, 157.18, 167.7, 181.23, 200.0]
    ">=1": [15.0, 38.48, 52.53, 65.62, 76.26, 83.39, 89.19, 94.46, 99.54, 104.56, 109.66, 114.99, 120.54, 126.56, 133.1, 140.41, 148.57, 158.1, 169.15, 182.62, 200.0]

process_fractions_subleading:
  processes: ["QCD"]

  split_categories:
    njets: ["==0", ">=1"]
  split_categories_binedges:
    njets: [-0.5, 0.5, 22.5]
  equipopulated_binning_options:
    variable_config:
      m_vis:
        min: 15.0
        max: 200.0
        rounding: 2
    var_dependence_n_bins: 20

  SR_cuts:
    had_tau_id_vs_jet_1: id_tau_vsJet_Medium_1 > 0.5
    had_tau_id_vs_jet_2: id_tau_vsJet_Medium_2 > 0.5
    # -------------------------------------------
    tau_pair_sign: (q_1*q_2) < 0
    # -------------------------------------------
    no_extra_lep: (extramuon_veto < 0.5) && (extraelec_veto < 0.5)

  AR_cuts:
    had_tau_id_vs_jet_1: id_tau_vsJet_Medium_1 < 0.5
    had_tau_id_vs_jet_2: (id_tau_vsJet_VVVLoose_2 > 0.5) && (id_tau_vsJet_Medium_2 < 0.5)
    # -------------------------------------------
    tau_pair_sign: (q_1*q_2) < 0
    # -------------------------------------------
    no_extra_lep: (extramuon_veto < 0.5) && (extraelec_veto < 0.5)

  var_dependence: m_vis
  var_bins:
    "==0": [15.0, 83.42, 87.91, 91.6, 95.05, 98.39, 101.7, 105.05, 108.53, 112.2, 116.06, 120.18, 124.68, 129.6, 135.12, 141.4, 148.64, 157.18, 167.7, 181.23, 200.0]
    ">=1": [15.0, 38.48, 52.53, 65.62, 76.26, 83.39, 89.19, 94.46, 99.54, 104.56, 109.66, 114.99, 120.54, 126.56, 133.1, 140.41, 148.57, 158.1, 169.15, 182.62, 200.0]
