# This is an example config containing information for the FF calculation

channel: "tt" # options are et, mt, tt

use_embedding: False

target_processes:
    QCD:
        split_categories:
            njets:
                - ">=2"
        split_categories_binedges:
            njets: [1.5,2.5]

        SRlike_cuts:
            tau_pair_sign: "(q_1*q_2) > 0" 
            no_extra_lep: "(extramuon_veto < 0.5) && (extraelec_veto < 0.5)"
            had_tau_id_vs_jet_1: "id_tau_vsJet_Medium_1 > 0.5"
            had_tau_id_vs_jet_2: "id_tau_vsJet_Medium_2 > 0.5"
            jj_selection: "njets >= 2 && jpt_1>=20 && jpt_2>=20 && jj_deltaR >= 0.4"

        ARlike_cuts:
            tau_pair_sign: "(q_1*q_2) > 0" 
            no_extra_lep: "(extramuon_veto < 0.5) && (extraelec_veto < 0.5)"
            had_tau_id_vs_jet_1: "(id_tau_vsJet_VVVLoose_1 > 0.5) && (id_tau_vsJet_Medium_1 < 0.5)"
            had_tau_id_vs_jet_2: "id_tau_vsJet_Medium_2 > 0.5"
            jj_selection: "njets >= 2 && jpt_1>=20 && jpt_2>=20 && jj_deltaR >= 0.4"

        var_dependence: "pt_1"
        var_bins: [40,50,60,70,80,100,150]
        fit_option: ["poly_1", "poly_2", "poly_3", "poly_4", "poly_5"]
        limit_kwargs: 
            limit_x:
                nominal: [40.,150.]
                up: [-.inf, .inf]
                down: [-.inf, .inf]

    QCD_subleading:
        split_categories:
            njets:
                - ">=2"
        split_categories_binedges:
            njets: [1.5,2.5]

        SRlike_cuts:
            tau_pair_sign: "(q_1*q_2) > 0" 
            no_extra_lep: "(extramuon_veto < 0.5) && (extraelec_veto < 0.5)"
            had_tau_id_vs_jet_1: "id_tau_vsJet_Medium_1 > 0.5"
            had_tau_id_vs_jet_2: "id_tau_vsJet_Medium_2 > 0.5"
            jj_selection: "njets >= 2 && jpt_1>=20 && jpt_2>=20 && jj_deltaR >= 0.4"

        ARlike_cuts:
            tau_pair_sign: "(q_1*q_2) > 0" 
            no_extra_lep: "(extramuon_veto < 0.5) && (extraelec_veto < 0.5)"
            had_tau_id_vs_jet_1: "id_tau_vsJet_Medium_1 > 0.5"
            had_tau_id_vs_jet_2: "(id_tau_vsJet_VVVLoose_2 > 0.5) && (id_tau_vsJet_Medium_2 < 0.5)"
            jj_selection: "njets >= 2 && jpt_1>=20 && jpt_2>=20 && jj_deltaR >= 0.4"

        var_dependence: "pt_2"
        var_bins: [40,50,60,70,80,100,150]
        fit_option: ["poly_1", "poly_2", "poly_3", "poly_4", "poly_5"]
        limit_kwargs: 
            limit_x:
                nominal: [40.,150.]
                up: [-.inf, .inf]
                down: [-.inf, .inf]

    ttbar:
        split_categories: 
            njets:  
                - "==2"
                - ">=3"
        split_categories_binedges:
            njets: [1.5,2.5,3.5]

        SR_cuts:
            tau_pair_sign: "(q_1*q_2) < 0" 
            no_extra_lep: "(extramuon_veto < 0.5) && (extraelec_veto < 0.5)"
            had_tau_id_vs_jet_1: "id_tau_vsJet_Medium_1 > 0.5"
            had_tau_id_vs_jet_2: "id_tau_vsJet_Medium_2 > 0.5"
            bb_selection: "nbtag >= 1 && bpair_pt_1>=20 && bpair_pt_2>=20"

        AR_cuts:
            tau_pair_sign: "(q_1*q_2) < 0" 
            no_extra_lep: "(extramuon_veto < 0.5) && (extraelec_veto < 0.5)"
            had_tau_id_vs_jet_1: "(id_tau_vsJet_VVVLoose_1 > 0.5) && (id_tau_vsJet_Medium_1 < 0.5)"
            had_tau_id_vs_jet_2: "id_tau_vsJet_Medium_2 > 0.5"
            bb_selection: "nbtag >= 1 && bpair_pt_1>=20 && bpair_pt_2>=20"

        SRlike_cuts:
            tau_pair_sign: "(q_1*q_2) < 0" 
            no_extra_lep: "!((extramuon_veto < 0.5) && (extraelec_veto < 0.5))"
            had_tau_id_vs_jet_1: "id_tau_vsJet_Medium_1 > 0.5"
            had_tau_id_vs_jet_2: "id_tau_vsJet_Medium_2 > 0.5"
            bb_selection: "nbtag >= 1 && bpair_pt_1>=20 && bpair_pt_2>=20"

        ARlike_cuts:
            tau_pair_sign: "(q_1*q_2) < 0" 
            no_extra_lep: "!((extramuon_veto < 0.5) && (extraelec_veto < 0.5))"
            had_tau_id_vs_jet_1: "(id_tau_vsJet_VVVLoose_1 > 0.5) && (id_tau_vsJet_Medium_1 < 0.5)"
            had_tau_id_vs_jet_2: "id_tau_vsJet_Medium_2 > 0.5"
            bb_selection: "nbtag >= 1 && bpair_pt_1>=20 && bpair_pt_2>=20"

        var_dependence: "pt_1"
        var_bins: [40,50,60,70,80,100,150]
        fit_option: ["poly_1", "poly_2", "poly_3", "poly_4", "poly_5"]
        limit_kwargs: 
            limit_x:
                nominal: [40.,150.]
                up: [-.inf, .inf]
                down: [-.inf, .inf]

    ttbar_subleading: 
        split_categories: 
            njets:  
                - "==2"
                - ">=3"
        split_categories_binedges:
            njets: [1.5,2.5,3.5]

        SR_cuts:
            tau_pair_sign: "(q_1*q_2) < 0" 
            no_extra_lep: "(extramuon_veto < 0.5) && (extraelec_veto < 0.5)"
            had_tau_id_vs_jet_1: "id_tau_vsJet_Medium_1 > 0.5"
            had_tau_id_vs_jet_2: "id_tau_vsJet_Medium_2 > 0.5"
            bb_selection: "nbtag >= 1 && bpair_pt_1>=20 && bpair_pt_2>=20"

        AR_cuts:
            tau_pair_sign: "(q_1*q_2) < 0" 
            no_extra_lep: "(extramuon_veto < 0.5) && (extraelec_veto < 0.5)"
            had_tau_id_vs_jet_1: "id_tau_vsJet_Medium_1 > 0.5"
            had_tau_id_vs_jet_2: "(id_tau_vsJet_VVVLoose_2 > 0.5) && (id_tau_vsJet_Medium_2 < 0.5)"
            bb_selection: "nbtag >= 1 && bpair_pt_1>=20 && bpair_pt_2>=20"

        SRlike_cuts:
            tau_pair_sign: "(q_1*q_2) < 0" 
            no_extra_lep: "!((extramuon_veto < 0.5) && (extraelec_veto < 0.5))"
            had_tau_id_vs_jet_1: "id_tau_vsJet_Medium_1 > 0.5"
            had_tau_id_vs_jet_2: "id_tau_vsJet_Medium_2 > 0.5"
            bb_selection: "nbtag >= 1 && bpair_pt_1>=20 && bpair_pt_2>=20"
            
        ARlike_cuts:
            tau_pair_sign: "(q_1*q_2) < 0" 
            no_extra_lep: "!((extramuon_veto < 0.5) && (extraelec_veto < 0.5))"
            had_tau_id_vs_jet_1: "id_tau_vsJet_Medium_1 > 0.5"
            had_tau_id_vs_jet_2: "(id_tau_vsJet_VVVLoose_2 > 0.5) && (id_tau_vsJet_Medium_2 < 0.5)"
            bb_selection: "nbtag >= 1 && bpair_pt_1>=20 && bpair_pt_2>=20"
        
        var_dependence: "pt_2"
        var_bins: [40,50,60,70,80,100,150]
        fit_option: ["poly_1", "poly_2", "poly_3", "poly_4", "poly_5"]
        limit_kwargs: 
            limit_x:
                nominal: [40.,150.]
                up: [-.inf, .inf]
                down: [-.inf, .inf]

process_fractions:
    processes: ["QCD", "ttbar_J"]

    split_categories:
        nbtag:
            - "==1"
            - ">=2"
    split_categories_binedges:
        nbtag: [0.5,1.5,2.5]

    AR_cuts:
        tau_pair_sign: "(q_1*q_2) < 0" 
        no_extra_lep: "(extramuon_veto < 0.5) && (extraelec_veto < 0.5)"
        had_tau_id_vs_jet_1: "(id_tau_vsJet_VVVLoose_1 > 0.5) && (id_tau_vsJet_Medium_1 < 0.5)"
        had_tau_id_vs_jet_2: "id_tau_vsJet_Medium_2 > 0.5"
        bb_selection: "nbtag >= 1 && bpair_pt_1>=20 && bpair_pt_2>=20"

    SR_cuts:
        tau_pair_sign: "(q_1*q_2) < 0" 
        no_extra_lep: "(extramuon_veto < 0.5) && (extraelec_veto < 0.5)"
        had_tau_id_vs_jet_1: "id_tau_vsJet_Medium_1 > 0.5"
        had_tau_id_vs_jet_2: "id_tau_vsJet_Medium_2 > 0.5"
        bb_selection: "nbtag >= 1 && bpair_pt_1>=20 && bpair_pt_2>=20"

    var_dependence: "m_vis"
    var_bins: [0,40,60,80,100,120,150,200,500]

process_fractions_subleading:
    processes: ["QCD", "ttbar_J"]

    split_categories:
        nbtag:
            - "==1"
            - ">=2"
    split_categories_binedges:
        nbtag: [0.5,1.5,2.5]

    AR_cuts:
        tau_pair_sign: "(q_1*q_2) < 0" 
        no_extra_lep: "(extramuon_veto < 0.5) && (extraelec_veto < 0.5)"
        had_tau_id_vs_jet_1: "id_tau_vsJet_Medium_1 > 0.5"
        had_tau_id_vs_jet_2: "(id_tau_vsJet_VVVLoose_2 > 0.5) && (id_tau_vsJet_Medium_2 < 0.5)"
        bb_selection: "nbtag >= 1 && bpair_pt_1>=20 && bpair_pt_2>=20"

    SR_cuts:
        tau_pair_sign: "(q_1*q_2) < 0" 
        no_extra_lep: "(extramuon_veto < 0.5) && (extraelec_veto < 0.5)"
        had_tau_id_vs_jet_1: "id_tau_vsJet_Medium_1 > 0.5"
        had_tau_id_vs_jet_2: "id_tau_vsJet_Medium_2 > 0.5"
        bb_selection: "nbtag >= 1 && bpair_pt_1>=20 && bpair_pt_2>=20"

    var_dependence: "m_vis"
    var_bins: [0,40,60,80,100,120,150,200,500]
