# This is an example config containing information for the preselection

channel: "et"

processes:
    DYjets:
        tau_gen_modes:
            - "J"
            - "T"
            - "L"
        samples:
            - "DYJetsToLL_LHEFilterPtZ-0To50_MatchEWPDG20_TuneCP5_13TeV-amcatnloFXFX-pythia8_RunIISummer20UL18NanoAODv9-106X"
            - "DYJetsToLL_LHEFilterPtZ-50To100_MatchEWPDG20_TuneCP5_13TeV-amcatnloFXFX-pythia8_RunIISummer20UL18NanoAODv9-106X"
            - "DYJetsToLL_LHEFilterPtZ-100To250_MatchEWPDG20_TuneCP5_13TeV-amcatnloFXFX-pythia8_RunIISummer20UL18NanoAODv9-106X"
            - "DYJetsToLL_LHEFilterPtZ-250To400_MatchEWPDG20_TuneCP5_13TeV-amcatnloFXFX-pythia8_RunIISummer20UL18NanoAODv9-106X"
            - "DYJetsToLL_LHEFilterPtZ-400To650_MatchEWPDG20_TuneCP5_13TeV-amcatnloFXFX-pythia8_RunIISummer20UL18NanoAODv9-106X"
            - "DYJetsToLL_LHEFilterPtZ-650ToInf_MatchEWPDG20_TuneCP5_13TeV-amcatnloFXFX-pythia8_RunIISummer20UL18NanoAODv9-106X"
    diboson:
        tau_gen_modes:
            - "J"
            - "T"
            - "L"
        samples:
            - "ZZ_TuneCP5_13TeV-pythia8_RunIISummer20UL18NanoAODv9-106X" 
            - "WW_TuneCP5_13TeV-pythia8_RunIISummer20UL18NanoAODv9-106X"
            - "WZ_TuneCP5_13TeV-pythia8_RunIISummer20UL18NanoAODv9-106X"
    ttbar:
        tau_gen_modes:
            - "J"
            - "T"
            - "L"
        samples:
            - "TTTo2L2Nu_TuneCP5_13TeV-powheg-pythia8_RunIISummer20UL18NanoAODv9-106X"
            - "TTToHadronic_TuneCP5_13TeV-powheg-pythia8_RunIISummer20UL18NanoAODv9-106X"
            - "TTToSemiLeptonic_TuneCP5_13TeV-powheg-pythia8_RunIISummer20UL18NanoAODv9-106X"
    Wjets:
        tau_gen_modes:
            - "all"
        samples:
            - "WJetsToLNu_TuneCP5_13TeV-madgraphMLM-pythia8_RunIISummer20UL18NanoAODv9-106X"
            - "W1JetsToLNu_TuneCP5_13TeV-madgraphMLM-pythia8_RunIISummer20UL18NanoAODv9-106X"
            - "W2JetsToLNu_TuneCP5_13TeV-madgraphMLM-pythia8_RunIISummer20UL18NanoAODv9-106X"
            - "W3JetsToLNu_TuneCP5_13TeV-madgraphMLM-pythia8_RunIISummer20UL18NanoAODv9-106X"
            - "W4JetsToLNu_TuneCP5_13TeV-madgraphMLM-pythia8_RunIISummer20UL18NanoAODv9-106X"
    ST:
        tau_gen_modes:
            - "J"
            - "T"
            - "L"
        samples:
            - "ST_t-channel_antitop_4f_InclusiveDecays_TuneCP5_13TeV-powheg-madspin-pythia8_RunIISummer20UL18NanoAODv9-106X"
            - "ST_t-channel_top_4f_InclusiveDecays_TuneCP5_13TeV-powheg-madspin-pythia8_RunIISummer20UL18NanoAODv9-106X"
            - "ST_tW_antitop_5f_inclusiveDecays_TuneCP5_13TeV-powheg-pythia8_RunIISummer20UL18NanoAODv9-106X"
            - "ST_tW_top_5f_inclusiveDecays_TuneCP5_13TeV-powheg-pythia8_RunIISummer20UL18NanoAODv9-106X"
    # embedding:
    #     tau_gen_modes:
    #         - "all"
    #     samples:
    #         - "TauEmbedding-ElTauFinalState_Run2018A-UL2018"
    #         - "TauEmbedding-ElTauFinalState_Run2018B-UL2018"
    #         - "TauEmbedding-ElTauFinalState_Run2018C-UL2018"
    #         - "TauEmbedding-ElTauFinalState_Run2018D-UL2018"
    data:
        tau_gen_modes:
            - "all"
        samples:
            - "EGamma_Run2018A-UL2018"
            - "EGamma_Run2018B-UL2018"
            - "EGamma_Run2018C-UL2018"
            - "EGamma_Run2018D-UL2018"

column_definitions:
    njets:
        expression: njets_boosted
        allow_redefine: True
    nbtag:
        expression: nbtag_boosted
        allow_redefine: True
    metphi:
        expression: metphi_boosted
        allow_redefine: True
    met:
        expression: met_boosted
        allow_redefine: True
    pt_1:
        expression: boosted_pt_1
        allow_redefine: True
    q_1:
        expression: boosted_q_1
        allow_redefine: True
    pt_2:
        expression: boosted_pt_2
        allow_redefine: True
    q_2:
        expression: boosted_q_2
        allow_redefine: True
    mt_1:
        expression: boosted_mt_1
        allow_redefine: True
    iso_1:
        expression: boosted_iso_1
        allow_redefine: True
    mass_2:
        expression: boosted_mass_2
        allow_redefine: True
    tau_decaymode_2:
        expression: boosted_tau_decaymode_2
        allow_redefine: True
    deltaR_ditaupair:
        expression: boosted_deltaR_ditaupair
        allow_redefine: True
    m_vis:
        expression: boosted_m_vis
        allow_redefine: True
    fj_Xbb_pt:
        expression: fj_Xbb_pt_boosted
        allow_redefine: True
    fj_Xbb_eta:
        expression: fj_Xbb_eta_boosted
        allow_redefine: True
    fj_Xbb_particleNet_XbbvsQCD:
        expression: fj_Xbb_particleNet_XbbvsQCD_boosted
        allow_redefine: True
    bpair_pt_1:
        expression: bpair_pt_1_boosted
        allow_redefine: True
    bpair_pt_2:
        expression: bpair_pt_2_boosted
        allow_redefine: True
    bpair_btag_value_2:
        expression: bpair_btag_value_2_boosted
        allow_redefine: True
    bpair_eta_2:
        expression: bpair_eta_2_boosted
        allow_redefine: True
    extraelec_veto:
        expression: extraelec_veto_boosted
        allow_redefine: True
    gen_match_1:
        expression: boosted_gen_match_1
        allow_redefine: True
        exclude_processes:
        - data
    gen_match_2:
        expression: boosted_gen_match_2
        allow_redefine: True
        exclude_processes:
        - data
    btag_weight:
        expression: btag_weight_boosted
        allow_redefine: True
        exclude_processes:
        - data
    pNet_Xbb_weight:
        expression: pNet_Xbb_weight_boosted
        allow_redefine: True
        exclude_processes:
        - data

event_selection:
    # lep_pt: "boosted_pt_1 > 120"
    had_tau_pt: "boosted_pt_2 > 40"
    had_tau_eta: "abs(boosted_eta_2) < 2.3"
    had_tau_decay_mode: "(boosted_tau_decaymode_2 == 0) || (boosted_tau_decaymode_2 == 1) || (boosted_tau_decaymode_2 == 10)"
    had_tau_id_anti_ele: "id_boostedtau_antiEle_Loose_2 > 0.5"
    # had_tau_id_anti_mu: "id_boostedtau_antiMu_Loose_2 > 0.5"
    single_trigger: "((trg_single_ele115_boosted > 0.5 || trg_single_photon200_boosted > 0.5) && (boosted_pt_1 >= 120)) || ((trg_single_ele32_boosted > 0.5) && (boosted_iso_1 < 0.3) && (boosted_pt_1 > 33) && (boosted_pt_1 < 120))"

mc_weights:
    # general weights: string is passed directly as weight
    pileup: "puweight"
    lep_iso: "iso_wgt_ele_boosted_1"
    lep_id: "id_wgt_ele_boosted_1"
    had_tau_id_anti_ele: "(id_boostedtau_antiEle_Loose_2>0.5)*id_wgt_boostedtau_antiEle_Loose_2 + (id_boostedtau_antiEle_Loose_2<0.5)"
    # had_tau_id_anti_mu: "(id_boostedtau_antiMu_Loose_2>0.5)*id_wgt_boostedtau_antiMu_Loose_2 + (id_boostedtau_antiMu_Loose_2<0.5)"
    single_trigger: "trg_wgt_single_ele_boosted"

    # special weights: these are not generally applied, e.g. only for a specific process or era
    # here the string is a needed information to apply the weight -> see corresponding functions
    generator: 
        stitching:
            - "Wjets"
    lumi: ""
    # Z_pt_reweighting: "ZPtMassReweightWeight"
    Top_pt_reweighting: "topPtReweightWeight" 

# emb_weights:
#     # general weights (for embedding): string is passed directly as weight
#     generator: "emb_genweight * emb_idsel_wgt_1 * emb_idsel_wgt_2 * emb_triggersel_wgt"
#     lep_iso: "iso_wgt_ele_boosted_1"
#     lep_id: "id_wgt_ele_boosted_1"

output_features:
    - "weight" # this is always needed
    - "btag_weight"
    - "pNet_Xbb_weight"
    - "njets"
    - "nbtag"
    - "q_1"
    - "pt_2"
    - "q_2"
    - "gen_match_2"
    - "m_vis"
    - "mt_1"
    - "deltaR_ditaupair"
    - "pt_1"
    - "iso_1"
    - "metphi"
    - "extramuon_veto"
    - "extraelec_veto"
    - "dilepton_veto"
    - "fj_Xbb_pt"
    - "fj_Xbb_eta"
    - "fj_Xbb_particleNet_XbbvsQCD"
    - "bpair_pt_1"
    - "bpair_pt_2"
    - "bpair_btag_value_2"
    - "bpair_eta_2"
    - "met"
    - "mass_2"
    - "tau_decaymode_2"
