templates:
  split_schemes:
    2j: &2j_split
      split_categories:
        njets: ["==0", ">=1"]
      split_categories_binedges:
        njets: [-0.5, 0.5, 22.5]
      correction_option:
        "==0": "smoothed"
        ">=1": "smoothed"
      bandwidth:
        "==0": 1.0
        ">=1": 1.0
    1j: &1j_split
      split_categories:
        njets: [">=0"]
      split_categories_binedges:
        njets: [-0.5, 22.5]
      correction_option:
        ">=0": "smoothed"
      bandwidth:
        ">=0": 1
  var_dependence_n_bins:
    QCD:
      equipopulated_binning_options: &QCD_var_dependence_n_bins
        var_dependence_n_bins:
          "==0": 11
          ">=1": 9
    Wjets:
      equipopulated_binning_options: &Wjets_var_dependence_n_bins
        var_dependence_n_bins:
          "==0": 15
          ">=1": 11
    ttbar:
      equipopulated_binning_options: &ttbar_var_dependence_n_bins
        var_dependence_n_bins:
          ">=0": 11
  variables:
    deltaR_ditaupair:
      var_dependence: deltaR_ditaupair
      equipopulated_binning_options:
        variable_config:
          deltaR_ditaupair:
            min: 0.5
            max: 5.0
            rounding: 4
      correction_option: "smoothed"
      bandwidth: 1.0
    pt_tt: &pt_tt
      var_dependence: pt_tt
      equipopulated_binning_options: &pt_tt__eq_bin_opt
        variable_config:
          pt_tt:
            min: 0.0
            max: 150.0
            rounding: 2
      correction_option: "smoothed"
      bandwidth: 30
    mass_2: &mass_2
      var_dependence: mass_2
      equipopulated_binning_options: &mass_2__eq_bin_opt
        variable_config:
          mass_2:
            min: 0.2
            max: 2.0
            rounding: 4
        add_left: [0.0]
      correction_option: "binwise#[0]+smoothed"
      bandwidth: 1.0
    iso_1:
      var_dependence: iso_1
      equipopulated_binning_options:
        variable_config:
          iso_1:
            min: 0.02
            max: 0.15
            rounding: 6
      correction_option: "binwise#[0]+smoothed"
      bandwidth: 0.05
    tau_decaymode_2: &tau_decaymode_2
      var_dependence: tau_decaymode_2
      correction_option: "binwise"
      bandwidth: 1.0
      var_bins: [-0.5, 0.5, 9.5, 10.5, 11.5]
    mt_1:
      var_dependence: mt_1
      equipopulated_binning_options:
        variable_config:
          mt_1:
            min: 0.0
            max: 150.0
            rounding: 6
        add_left: [0.0]
      correction_option: "binwise#[0]+smoothed"
      bandwidth: 7.0


channel: mt
target_processes:
  QCD:
    non_closure:
      # deltaR_ditaupair:
      #   <<: [*deltaR_ditaupair, *2j_split]
      #   equipopulated_binning_options:
      #     <<: [*deltaR_ditaupair__eq_bin_opt, *QCD_var_dependence_n_bins]
      #   bandwidth: 1.0
      #   var_bins:
      #     "==0": [0.5, 2.6144, 2.8395, 2.9617, 3.0465, 3.113, 3.18, 3.2817, 3.4224, 3.627, 3.9576, 5.0]
      #     ">=1": [0.5, 1.4065, 1.9918, 2.3785, 2.6644, 2.8883, 3.0814, 3.2964, 3.6932, 5.0]
      mass_2:
        <<: [*mass_2, *2j_split]
        equipopulated_binning_options:
          <<: [*mass_2__eq_bin_opt, *QCD_var_dependence_n_bins]
        bandwidth: 0.5
        var_bins:
          "==0": [0.0, 0.2, 0.4763, 0.5781, 0.6719, 0.7627, 0.8467, 0.9243, 1.0039, 1.0879, 1.1865, 1.3213, 2.0]
          ">=1": [0.0, 0.2, 0.4978, 0.6128, 0.7212, 0.8232, 0.9194, 1.0176, 1.1328, 1.2803, 2.0]
      # iso_1:
      #   <<: [*iso_1, *2j_split]
      #   equipopulated_binning_options:
      #     <<: [*iso_1__eq_bin_opt, *QCD_var_dependence_n_bins]
      #   bandwidth: 0.5
      #   var_bins:
      #     "==0": [0.02, 0.05747, 0.065062, 0.073015, 0.081516, 0.090106, 0.099052, 0.108492, 0.118196, 0.128294, 0.138589, 0.15]
      #     ">=1": [0.02, 0.059104, 0.068678, 0.078539, 0.089196, 0.100185, 0.111678, 0.123685, 0.136038, 0.15]
      tau_decaymode_2:
        <<: [*tau_decaymode_2, *2j_split]
    DR_SR:
      <<: [*pt_tt, *2j_split]
      equipopulated_binning_options:
        <<: [*pt_tt__eq_bin_opt, *QCD_var_dependence_n_bins]
      bandwidth: [15, 25]
      var_bins:
        "==0": [0.0, 9.84, 14.48, 18.45, 22.18, 25.94, 29.9, 34.29, 39.48, 46.07, 56.16, 150.0]
        ">=1": [0.0, 27.34, 38.53, 47.59, 56.08, 64.77, 74.95, 87.49, 106.25, 150.0]

      SRlike_cuts: # Try for yet perpendicular to the fake_factors_mt.yaml definition!
        lep_mt: (mt_1 < 50)
        nbtag: (nbtag >= 0)
        tau_pair_sign: ((q_1*q_2) > 0)
        lep_iso: "(!((iso_1 >= 0.05) && (iso_1 <= 0.15)))"
      ARlike_cuts: # Try for yet perpendicular to the fake_factors_mt.yaml definition!
        lep_mt: (mt_1 < 50)
        nbtag: (nbtag >= 0)
        tau_pair_sign: ((q_1*q_2) > 0)
        lep_iso: "(!((iso_1 >= 0.05) && (iso_1 <= 0.15)))"
      AR_SR_cuts:
        lep_mt: (mt_1 < 70)
        nbtag: (nbtag >= 0)
        tau_pair_sign: ((q_1*q_2) < 0)
        lep_iso: "(!((iso_1 >= 0.05) && (iso_1 <= 0.15)))"
      non_closure:
        tau_decaymode_2:
          <<: [*tau_decaymode_2, *2j_split]
  Wjets:
    non_closure:
      # deltaR_ditaupair:
      #   <<: [*deltaR_ditaupair, *2j_split]
      #   equipopulated_binning_options:
      #     <<: [*deltaR_ditaupair__eq_bin_opt, *QCD_var_dependence_n_bins]
      #   bandwidth: 1.0
      #   var_bins:
      #     "==0": [0.5, 1.2956, 1.7194, 2.041, 2.3078, 2.531, 2.724, 2.8918, 3.0355, 3.1589, 3.4139, 5.0]
      #     ">=1": [0.5, 1.2172, 1.6577, 2.008, 2.3117, 2.5816, 2.8283, 3.0467, 3.3117, 5.0]
      mass_2:
        <<: [*mass_2, *2j_split]
        equipopulated_binning_options:
          <<: [*mass_2__eq_bin_opt, *Wjets_var_dependence_n_bins]
        bandwidth: 0.5
        var_bins:
          "==0": [0.0, 0.2, 0.4487, 0.5278, 0.5977, 0.6621, 0.7217, 0.7783, 0.8325, 0.8882, 0.9463, 1.0068, 1.0713, 1.1436, 1.2314, 1.3535, 2.0]
          ">=1": [0.0, 0.2, 0.4817, 0.583, 0.6729, 0.7515, 0.8281, 0.9062, 0.9883, 1.0752, 1.1768, 1.3135, 2.0]
      # iso_1:
      #   <<: [*iso_1, *2j_split]
      #   equipopulated_binning_options:
      #     <<: [*iso_1__eq_bin_opt, *Wjets_var_dependence_n_bins]
      #   bandwidth: 0.5
      #   var_bins:
      #     "==0": [0.02, 0.022193, 0.024639, 0.02739, 0.030399, 0.03386, 0.037764, 0.042211, 0.047321, 0.053414, 0.060695, 0.06961, 0.080921, 0.095707, 0.1167, 0.15]
      #     ">=1": [0.02, 0.023153, 0.026778, 0.030995, 0.035954, 0.041986, 0.049331, 0.058761, 0.07095, 0.087367, 0.111056, 0.15]
      tau_decaymode_2:
        <<: [*tau_decaymode_2, *2j_split]
    DR_SR:
      <<: [*pt_tt, *2j_split]
      equipopulated_binning_options:
        <<: [*pt_tt__eq_bin_opt, *Wjets_var_dependence_n_bins]
      bandwidth: 30.0
      var_bins:
        "==0": [0.0, 7.72, 11.19, 14.07, 16.71, 19.27, 21.82, 24.42, 27.14, 30.08, 33.32, 37.04, 41.54, 47.47, 56.87, 150.0]
        ">=1": [0.0, 21.97, 31.2, 38.54, 45.31, 52.07, 59.14, 67.02, 76.52, 88.91, 107.88, 150.0]

      SRlike_cuts: # Try for yet perpendicular to the fake_factors_mt.yaml definition!
        lep_mt: (mt_1 > 0)
        nbtag: (nbtag == 0)
        tau_pair_sign: ((q_1*q_2) < 0)
        lep_iso: ((iso_1 >= 0.0) && (iso_1 <= 0.15))
      ARlike_cuts: # Try for yet perpendicular to the fake_factors_mt.yaml definition!
        lep_mt: (mt_1 > 0)
        nbtag: (nbtag == 0)
        tau_pair_sign: ((q_1*q_2) < 0)
        lep_iso: ((iso_1 >= 0.0) && (iso_1 <= 0.15))
      AR_SR_cuts:
        lep_mt: (mt_1 < 70)
        nbtag: (nbtag >= 0)
        tau_pair_sign: ((q_1*q_2) < 0)
        lep_iso: ((iso_1 >= 0.0) && (iso_1 <= 0.15))

      non_closure:
        tau_decaymode_2:
          <<: [*tau_decaymode_2, *2j_split]

  ttbar:
    non_closure:
      # deltaR_ditaupair:
      #   <<: [*deltaR_ditaupair, *1j_split]
      #   equipopulated_binning_options:
      #     <<: [*deltaR_ditaupair__eq_bin_opt, *ttbar_var_dependence_n_bins]
      #   bandwidth: [10]
      #   var_bins:
      #     ">=0": [0.5, 1.1462, 1.5881, 1.9195, 2.1865, 2.4216, 2.6475, 2.8272, 2.9995, 3.1702, 3.48, 5.0]
      mass_2:
        <<: [*mass_2, *1j_split]
        equipopulated_binning_options:
          <<: [*mass_2__eq_bin_opt, *ttbar_var_dependence_n_bins]
        bandwidth: [0.2]
        var_bins:
          ">=0": [0.0, 0.2, 0.4866, 0.5933, 0.6851, 0.7651, 0.8428, 0.9209, 0.9995, 1.0957, 1.1895, 1.3232, 2.0]
      # iso_1:
      #   <<: [*iso_1, *1j_split]
      #   equipopulated_binning_options:
      #     <<: [*iso_1__eq_bin_opt, *ttbar_var_dependence_n_bins]
      #   bandwidth: [0.03]
      #   var_bins:
      #     ">=0": [0.02, 0.023246, 0.027186, 0.031608, 0.036509, 0.042106, 0.049673, 0.058603, 0.071679, 0.089311, 0.113569, 0.15]
      tau_decaymode_2:
        <<: [*tau_decaymode_2, *1j_split]

