templates:
  split_schemes:
    3j: &3j_split
      split_categories:
        njets: ["==0", "==1", ">=2"]
      split_categories_binedges:
        njets: [-0.5, 0.5, 1.5, 22.5]
      correction_option:
        "==0": "smoothed"
        "==1": "smoothed"
        ">=2": "smoothed"
      bandwidth:
        "==0": 1.0
        "==1": 1.0
        ">=2": 1.0
    2j: &2j_split
      split_categories:
        njets: ["<=1", ">=2"]
      split_categories_binedges:
        njets: [-0.5, 1.5, 22.5]
      correction_option:
        "==0": "smoothed"
        ">=1": "smoothed"
      bandwidth:
        "==0": 1.0
        ">=1": 1.0
    1j: &1j_split
      split_categories:
        njets: [">=0"]
      split_categories_binedges:
        njets: [-0.5, 22.5]
      correction_option:
        ">=0": "smoothed"
      bandwidth:
        ">=0": 1
  var_dependence_n_bins:
    QCD:
      equipopulated_binning_options: &QCD_var_dependence_n_bins
        var_dependence_n_bins: 15
    Wjets:
      equipopulated_binning_options: &Wjets_var_dependence_n_bins
        var_dependence_n_bins: 15
    ttbar:
      equipopulated_binning_options: &ttbar_var_dependence_n_bins
        var_dependence_n_bins: 15
  variables:
    deltaR_ditaupair: &deltaR_ditaupair
      var_dependence: deltaR_ditaupair
      equipopulated_binning_options: &deltaR_ditaupair__eq_bin_opt
        variable_config:
          deltaR_ditaupair:
            min: 0.5
            max: 5.0
            rounding: 4
      correction_option: "smoothed"
      bandwidth: 1.0
    pt_tt: &pt_tt
      var_dependence: pt_tt
      equipopulated_binning_options: &pt_tt__eq_bin_opt
        variable_config:
          pt_tt:
            min: 0.0
            max: 150.0
            rounding: 2
      correction_option: "smoothed"
      bandwidth: 30
    mass_2: &mass_2
      var_dependence: mass_2
      equipopulated_binning_options: &mass_2__eq_bin_opt
        variable_config:
          mass_2:
            min: 0.2
            max: 2.0
            rounding: 4
        add_left: [0.0]
      correction_option: "binwise#[0]+smoothed"
      bandwidth: 1.0
    iso_1: &iso_1
      var_dependence: iso_1
      equipopulated_binning_options: &iso_1__eq_bin_opt
        variable_config:
          iso_1:
            min: 0.02
            max: 0.15
            rounding: 6
      correction_option: "binwise#[0]+smoothed"
      bandwidth: 0.05
    tau_decaymode_2: &tau_decaymode_2
      var_dependence: tau_decaymode_2
      correction_option: "binwise"
      bandwidth: 1.0
      var_bins: [-0.5, 0.5, 9.5, 10.5, 11.5]
    mt_1:
      var_dependence: mt_1
      equipopulated_binning_options:
        variable_config:
          mt_1:
            min: 0.0
            max: 150.0
            rounding: 6
        add_left: [0.0]
      correction_option: "binwise#[0]+smoothed"
      bandwidth: 7.0


channel: mt
target_processes:
  QCD:
    non_closure:
      tau_decaymode_2:
        <<: [*tau_decaymode_2, *3j_split]
      mass_2:
        <<: [*mass_2, *3j_split]
        equipopulated_binning_options:
          <<: [*mass_2__eq_bin_opt, *QCD_var_dependence_n_bins]
        bandwidth: 0.5
        var_bins:
          "==0": [0.0, 0.2, 0.5288, 0.6416, 0.7373, 0.8203, 0.8945, 0.9663, 1.0391, 1.1182, 1.21, 1.333, 2.0]
          ">=1": [0.0, 0.2, 0.5532, 0.6763, 0.7798, 0.874, 0.9609, 1.0488, 1.1514, 1.2891, 2.0]
      iso_1:
       <<: [*iso_1, *3j_split]
       equipopulated_binning_options:
         <<: [*iso_1__eq_bin_opt, *QCD_var_dependence_n_bins]
       bandwidth: 0.5
       var_bins:
         "==0": [0.02, 0.02358, 0.027587, 0.032175, 0.037519, 0.043513, 0.0508, 0.05985, 0.071055, 0.087017, 0.109011, 0.15]
         ">=1": [0.02, 0.023847, 0.028474, 0.034012, 0.040773, 0.049329, 0.060845, 0.076904, 0.102261, 0.15]
      deltaR_ditaupair:
       <<: [*deltaR_ditaupair, *3j_split]
       equipopulated_binning_options:
         <<: [*deltaR_ditaupair__eq_bin_opt, *QCD_var_dependence_n_bins]
       bandwidth: 1.0
       var_bins:
         "==0": [0.5, 2.6645, 2.8623, 2.9774, 3.0524, 3.1107, 3.167, 3.2646, 3.4092, 3.6361, 3.9991, 5.0]
         ">=1": [0.5, 1.3261, 1.9115, 2.315, 2.6148, 2.8608, 3.0729, 3.3166, 3.7708, 5.0]

    DR_SR:
      <<: [*pt_tt, *3j_split]
      equipopulated_binning_options:
        <<: [*pt_tt__eq_bin_opt, *QCD_var_dependence_n_bins]
      bandwidth: 20.0
      var_bins:
        "==0": [0.0, 9.17, 13.47, 17.15, 20.73, 24.25, 28.04, 32.28, 37.2, 43.43, 52.96, 150.0]
        ">=1": [0.0, 27.51, 38.61, 47.41, 55.67, 64.44, 74.49, 87.01, 105.85, 150.0]

      SRlike_cuts: # Try for yet perpendicular to the fake_factors_mt.yaml definition!
        lep_mt: (mt_1 < 50)
        nbtag: (nbtag >= 0)
        tau_pair_sign: ((q_1*q_2) > 0)
        lep_iso: "(!((iso_1 >= 0.05) && (iso_1 <= 0.15)))"
      ARlike_cuts: # Try for yet perpendicular to the fake_factors_mt.yaml definition!
        lep_mt: (mt_1 < 50)
        nbtag: (nbtag >= 0)
        tau_pair_sign: ((q_1*q_2) > 0)
        lep_iso: "(!((iso_1 >= 0.05) && (iso_1 <= 0.15)))"
      AR_SR_cuts:
        lep_mt: (mt_1 < 70)
        nbtag: (nbtag >= 0)
        tau_pair_sign: ((q_1*q_2) < 0)
        lep_iso: "(!((iso_1 >= 0.05) && (iso_1 <= 0.15)))"

      non_closure:
        tau_decaymode_2:
          <<: [*tau_decaymode_2, *3j_split]
          
  Wjets:
    non_closure:
      tau_decaymode_2:
        <<: [*tau_decaymode_2, *3j_split]
      mass_2:
        <<: [*mass_2, *3j_split]
        equipopulated_binning_options:
          <<: [*mass_2__eq_bin_opt, *Wjets_var_dependence_n_bins]
        bandwidth: 0.5
        var_bins:
          "==0": [0.0, 0.2, 0.4885, 0.5776, 0.6504, 0.7119, 0.7695, 0.8242, 0.8765, 0.9307, 0.9849, 1.042, 1.1035, 1.1719, 1.2529, 1.3662, 2.0]
          ">=1": [0.0, 0.2, 0.52, 0.6265, 0.7114, 0.7905, 0.8628, 0.9385, 1.0146, 1.0977, 1.1934, 1.3252, 2.0]
      iso_1:
       <<: [*iso_1, *3j_split]
       equipopulated_binning_options:
         <<: [*iso_1__eq_bin_opt, *Wjets_var_dependence_n_bins]
       bandwidth: 0.5
       var_bins:
         "==0": [0.02, 0.021761, 0.023672, 0.025875, 0.028149, 0.030758, 0.033764, 0.037126, 0.040964, 0.045525, 0.050935, 0.057518, 0.066055, 0.078912, 0.099245, 0.15]
         ">=1": [0.02, 0.022324, 0.02494, 0.028074, 0.031728, 0.036048, 0.041189, 0.047404, 0.055947, 0.068685, 0.091296, 0.15]
      deltaR_ditaupair:
       <<: [*deltaR_ditaupair, *3j_split]
       equipopulated_binning_options:
         <<: [*deltaR_ditaupair__eq_bin_opt, *QCD_var_dependence_n_bins]
       bandwidth: 1.0
       var_bins:
         "==0": [0.5, 1.7257, 2.1287, 2.3943, 2.6028, 2.7675, 2.9059, 3.0228, 3.1213, 3.2499, 3.5322, 5.0]
         ">=1": [0.5, 1.2414, 1.6998, 2.0631, 2.3714, 2.6372, 2.874, 3.0824, 3.3684, 5.0]
        
    DR_SR:
      <<: [*pt_tt, *3j_split]
      equipopulated_binning_options:
        <<: [*pt_tt__eq_bin_opt, *Wjets_var_dependence_n_bins]
      bandwidth: 30.0
      var_bins:
        "==0": [0.0, 7.08, 10.28, 12.94, 15.39, 17.75, 20.12, 22.53, 25.07, 27.81, 30.82, 34.29, 38.51, 44.11, 52.98, 150.0]
        ">=1": [0.0, 22.24, 31.34, 38.62, 45.31, 51.98, 59.05, 67.05, 76.57, 89.22, 108.65, 150.0]

      SRlike_cuts: # Try for yet perpendicular to the fake_factors_mt.yaml definition!
        lep_mt: (mt_1 > 0)
        nbtag: (nbtag == 0)
        tau_pair_sign: ((q_1*q_2) < 0)
        lep_iso: ((iso_1 >= 0.0) && (iso_1 <= 0.15))
      ARlike_cuts: # Try for yet perpendicular to the fake_factors_mt.yaml definition!
        lep_mt: (mt_1 > 0)
        nbtag: (nbtag == 0)
        tau_pair_sign: ((q_1*q_2) < 0)
        lep_iso: ((iso_1 >= 0.0) && (iso_1 <= 0.15))
      AR_SR_cuts:
        lep_mt: (mt_1 < 70)
        nbtag: (nbtag >= 0)
        tau_pair_sign: ((q_1*q_2) < 0)
        lep_iso: ((iso_1 >= 0.0) && (iso_1 <= 0.15))

      non_closure:
        tau_decaymode_2:
          <<: [*tau_decaymode_2, *2j_split]

  ttbar:
    non_closure:
      tau_decaymode_2:
        <<: [*tau_decaymode_2, *2j_split]
      mass_2:
        <<: [*mass_2, *2j_split]
        equipopulated_binning_options:
          <<: [*mass_2__eq_bin_opt, *ttbar_var_dependence_n_bins]
        bandwidth: [0.2]
        var_bins:
          ">=0": [0.0, 0.2, 0.4934, 0.5928, 0.6807, 0.7593, 0.8315, 0.9043, 0.9844, 1.0703, 1.1709, 1.3018, 2.0]
      iso_1:
        <<: [*iso_1, *2j_split]
        equipopulated_binning_options:
          <<: [*iso_1__eq_bin_opt, *ttbar_var_dependence_n_bins]
        bandwidth: [0.03]
        var_bins:
          ">=0": [0.02, 0.021815, 0.024125, 0.026853, 0.029971, 0.033772, 0.038056, 0.0437, 0.051507, 0.062407, 0.083727, 0.15]
      deltaR_ditaupair:
        <<: [*deltaR_ditaupair, *2j_split]
        equipopulated_binning_options:
          <<: [*deltaR_ditaupair__eq_bin_opt, *ttbar_var_dependence_n_bins]
        bandwidth: [10]
        var_bins:
          ">=0": [0.5, 1.4749, 1.9539, 2.2838, 2.5244, 2.7127, 2.8662, 2.997, 3.1039, 3.2272, 3.5138, 5.0]